<% companiesCollection.forEach(function(company, index){ %>
<tr data-index="<%=index + startNumber + 1%>" data-id="<%=company._id%>">
    <td><input type="checkbox" value="<%=company._id%>" class="checkbox" /></td>
    <td><%=index + 1%></td>
    <td><%=company.name.first%></td>
    <td><%=company.email%></td>
    <td>
      <span><a href="javascript:;"><%=company.phones.phone%></a> </span>
      <span><a href="javascript:;"><%=company.phones.mobile%></a></span>
    </td>
    <td><%=company.createdBy.date + ' (' + company.createdBy.user.login + ')'%></td>
    <td><%=(company.editedBy.date) ? company.editedBy.date + ' (' + company.editedBy.user.login + ')' : ''%></td>
    <td><%=company.address.country%></td>
</tr>
<% }) %>
