<div class="form-holder">

    <form method="post" action="" id="createCompanyForm" class="form">
        <fieldset>
            <p>
                <label for="name">Company Name</label><br/>
                <input type="text" name="name" id="name" required/>

            </p>

            <p>
                <label for="email">email</label><br/>
                <input type="text" name="email" id="email" required/>

            </p>
            
            <p>
                <label for="phone">Phone</label><br/>
                <input type="text" name="phone" id="phone" required/>

            </p>
            
            <p>
                <label for="mobile">Mobile</label><br/>
                <input type="text" name="mobile" id="mobile" required/>

            </p>
            
            <p>
                <label for="fax">Fax</label><br/>
                <input type="text" name="fax" id="fax" required/>

            </p>
        </fieldset>
    </form>
</div>