<div class="form-holder">

    <form method="post" action="" id="createEmployeeForm" class="form">
        <fieldset>
            <p>
                <label for="name">Company Name</label>
                <input type="text" class="title-input blueback" name="name" id="name" required />

            </p>

            <p>
                <label>Address</label>
                <input type="text" class="address" name="street" placeholder="Street..." />
                <input type="text" class="address" name="city" placeholder="City" />
                <input type="text" class="address" name="state" placeholder="State" />
                <input type="text" class="address" name="zip" placeholder="ZIP" />
                <input type="text" class="address" name="country" placeholder="Country" />
            </p>

            <p>
                <label for="website">Website</label>
                <input type="text" id="website" />

            </p>

            <p>
                <label for="phone">Phone</label>
                <input type="text" name="phone" id="phone" />

            </p>

            <p>
                <label for="mobile">Mobile</label>
                <input type="text" name="mobile" id="mobile" />

            </p>

            <p>
                <label for="fax">Fax</label>
                <input type="text" name="fax" id="fax" />
            </p>
            <p>
                <label for="email">Email</label>
                <input type="text" name="email" id="email" />
            </p>
            <br />
            <div id="tabs">
                <div>
                    <ul id="tabList">
                        <li>
                            <a href="#" class="selected">Internal Notes</a></li>
                        <li>
                            <a href="#">Sales & Purchases</a></li>
                        <li>
                            <a href="#">History</a></li>
                    </ul>
                </div>

                <div class="tab">
                    <textarea id="internalNotes" placeholder="Put an internal note..."></textarea>
                </div>
                <div class="tab">
                    <p>
                        <label for="salesPerson">Salesperson</label>
                        <select id="salesPerson">
                            <option selected="selected" value="0">Select...</option>
                            <% employeesCollection.each(function(option){ %>
                   
                            <option value="<%= option.get('_id') %>"><%= option.get('name').first %> <%= option.get('name').last %></option>
                            <% }); %>
               
                        </select>
                    </p>
                    <p>
                        <label for="salesTeam">Sales Team</label>
                        <select id="salesTeam">
                            <option selected="selected" value="0">Select...</option>
                            <% departmentsCollection.each(function(option){ %>
                   
                             <option value="<%= option.get('_id') %>"><%= option.get('departmentName')%></option>
                            <% }); %>
               
                        </select>
                    </p>

                    <p>
                        <label for="reference">Reference</label>
                        <input type="text" id="reference" />
                    </p>

                    <p>
                        <label for="language">Language</label>
                        <select id="language">
                            <option>English</option>
                        </select>
                    </p>
                    <p>
                        <label for="date">Date</label>
                        <input type="date" id="date" />
                    </p>
                    <p>
                        <label for="isCustomer">Customer</label>
                        <input type="checkbox" id="isCustomer" />
                    </p>
                    <p>
                        <label for="isSupplier">Supplier </label>
                        <input type="checkbox" id="isSupplier" />
                    </p>
                    <p>
                        <label for="active">Active</label>
                        <input type="checkbox" id="active" checked="checked" />
                    </p>
                </div>
                <div class="tab"></div>
            </div>
        </fieldset>
    </form>
</div>
