<div class="form-holder">
  <form method="post" action="" id="editEmployeeForm" class="form">
	<div class="half-block left">
	  <dl class="person-info">
		<dt><label for="name">Company Name :</label></dt><dd><input class="blueback" type="text" name="name" id="name" required value="<%=model.name%>" /></dd>
	  </dl>
	</div>
	<div class="half-block left">
      <div class="avatar">
        <input type="file" value="Edit" id="inputImg" accept="image/*">
        <canvas id="avatar" width="120" height="120"></canvas>
      </div>
	</div>
    <div class="clearfix"></div>
	<div class="half-block left">
	  <dl class="person-info">
		<dt><label>Address :</label></dt><dd><input type="text" class="address blueback" name="street" placeholder="Street..." value="<%=model.address.street%>" /></dd>
		<dt>&nbsp;</dt><dd><input type="text" class="address blueback" name="city" placeholder="City" value="<%=model.address.city%>" /></dd>
		<dt>&nbsp;</dt><dd><input type="text" class="address blueback" name="state" placeholder="State" value="<%=model.address.state%>" /></dd>
		<dt>&nbsp;</dt><dd><input type="text" class="address blueback" name="zip" placeholder="ZIP" value="<%=model.address.zip%>" /></dd>
		<dt>&nbsp;</dt><dd><input type="text" class="address blueback" name="country" placeholder="Country" value="<%=model.address.country%>" /></dd>
	  </dl>
	</div>
    <div class="half-block left">
	  <dl class="person-info">
        <dt><label for="website">Website :</label></dt><dd><input class="blueback" type="text" id="website" value="<%=model.website%>" /></dd>
        <dt><label for="email">Email :</label></dt><dd><input class="blueback" type="text" name="email" id="email" value="<%=model.email%>" /></dd>
        <dt><label for="phone">Phone :</label></dt><dd><input class="blueback" type="text" name="phone" id="phone" value="<%=model.phones.phone%>" /></dd>
        <dt><label for="mobile">Mobile :</label></dt><dd><input class="blueback" type="text" name="mobile" id="mobile" value="<%=model.phones.mobile%>" /></dd>
        <dt><label for="fax">Fax :</label></dt><dd><input class="blueback" type="text" name="fax" id="fax" value="<%=model.phones.fax%>" /></dd>
	  </dl>
	</div>
    <div class="clearfix"></div>
	<div class="formTitle">
	  <h3 class="left">Contacts</h3>
	  <div class="clearfix"></div>
	</div>
    <div class="inner">
      <input type="button" value="Add" id="addContacts" />
      <div id="contacts">
	  </div>
    </div>
	<div class="formTitle">
	  <h3 class="left">Internal Notes</h3>
	  <div class="clearfix"></div>
	</div>
    <div class="inner">
	  <textarea id="internalNotes" placeholder="Put an internal note..."><%=model.internalNotes%></textarea>
    </div>
	<div class="formTitle">
	  <h3 class="left">Sales &amp; Purchases</h3>
	  <div class="clearfix"></div>
	</div>
    <div class="inner">
      <div class="half-block left">
		<dl class="person-info">
		  <dt><label for="salesPerson">Salesperson :</label></dt>
		  <dd>
            <select id="salesPerson">

            </select>
		  </dd>
		  <dt><label for="salesTeam">Sales Team :</label></dt>
		  <dd>
            <select id="salesTeam">

            </select>
		  </dd>
		  <dt><label for="reference">Reference :</label></dt><dd><input class="blueback" type="text" id="reference" value="<%=model.salesPurchases.reference%>" /></dd>
		  <dt><label for="language">Language :</label></dt>
		  <dd>
            <select id="language">
              <option>English</option>
            </select>
		  </dd>
		</dl>
	  </div>
      <div class="half-block left">
		<dl class="person-info">
		  <dt><label for="date">Date :</label></dt><dd><input class="blueback" type="text" id="text" value="<%=model.salesPurchases.date%>" /></dd>
		  <dt><label for="isCustomer">Customer :</label></dt><dd><input type="checkbox" id="isCustomer" <%=(model.salesPurchases.isCustomer)? "checked='checked'":''%>/></dd>
		  <dt><label for="isSupplier">Supplier :</label></dt><dd><input type="checkbox" id="isSupplier" <%=(model.salesPurchases.isSupplier)? "checked='checked'":''%>/></dd>
		  <dt><label for="active">Active :</label></dt><dd><input type="checkbox" id="active" <%=(model.salesPurchases.active)? "checked='checked'":''%> /></dd>
		</dl>
	  </div>
    </div>
    <div class="clearfix"></div>
	<div class="formTitle">
	  <h3 class="left">History</h3>
	  <div class="clearfix"></div>
	</div>
    <div class="inner">
    </div>

    <div class="buttons">
      <input type="button" id="saveBtn" class="btn" value="Save"/>
      <input type="button" id="cancelBtn" class="btn" value="Cancel"/>
    </div>
  </form>
</div>
