<script src="js/libs/chosen.jquery.min.js"></script>

<input type="button" id="authBtn" class="btn ui-button" value="Synchronize with Google Calendar"/>
<input type="button" id="addCalendarBtn" class="btn ui-button" value="Add Calendar"/>
<div id="schedulerDiv" class="dhx_cal_container" style="display: block; height: 700px; width:75%; float:left;" >
    <div class="dhx_cal_navline">
        <div class="dhx_cal_prev_button">&nbsp;</div>
        <div class="dhx_cal_next_button">&nbsp;</div>
        <div class="dhx_cal_today_button"></div>
        <div class="dhx_cal_date"></div>
        <div class="dhx_cal_tab" name="day_tab" style="right:204px;"></div>
        <div class="dhx_cal_tab" name="week_tab" style="right:140px;"></div>
        <div class="dhx_cal_tab" name="month_tab" style="right:76px;"></div>
    </div>
    <div class="dhx_cal_header"></div>
    <div class="dhx_cal_data"></div>
</div>

<div>
    <span>Calendars list:</span>
    <select id="calendarList" multiple="multiple">

    </select>
</div>
<div id="miniCalendar" style="margin-top: 15px;margin-right: 15px; width: 24%;display: block; float:right"></div>
