<div class="form-holder">
    <form class="form" data-id="<%=_id%>">
        <div class="inner">

            <div class="avatar">
                <img class="person" src="<%=imageSrc%>" width="120" height="120" />
            </div>
            <div style="margin-left: 130px; width: 80%; display: block;">
                <h2><%=login%></h2>
                <div class="half-block left">
                    <div class="half-block left">
                        <p><label>Email:</label></p>
                        <p><label>Profile:</label></p>
                        <p><label>Company:</label></p>
                    </div>
                    <div class="half-block left">
                        <p><%=email%></p>
                        <p><%=profile.profile.name%></p>
                        <p><%=profile.company.name%></p>
                    </div>

                </div>
            </div>
            <div class="clearfix"></div>
        </div>

    </form>
</div>
