<div id="<%=key %>" class="noteContainer">
  <div class="noteTitle"><%=title %></div>
  <div class="noteText"><%=val %></div>
  <div>
	<a class="name" href="javascript:;"><%=author %></a><span class="date"><%=date %></span>
    <div class="right">
	  <span>
		<a href="javascript:;" id="<%=edit %>" class="editDelNote" >Edit</a>
        <span  class="sep" >|</span>
        <span>
          <a href="javascript:;" id="<%=del %>" class="editDelNote">Del</a>
        </span>
	  </span>
    </div>
  </div>
</div>
