<div class="form-holder">
  <form method="post" action="" id="createEmployeeForm" class="form">
	    <div class="avatar">
	        <div class="upload">
	            Edit
	            <input type="file" value="Edit" id="inputImg" accept="image/*">
	        </div>
	        <canvas id="avatar" width="120" height="120"></canvas>
	    </div>
    <div style="margin-left:150px; width:auto; display:block;">
	<div class="half-block left">
	  <dl class="person-info">
		<dt><label for="name">Company</label></dt><dd><input type="text" class="title-input blueback" name="name" id="name" required maxlength="32"/></dd>
	  </dl>
	  <dl class="person-info">
		<dt><label for="website">Website </label></dt><dd><input class="blueback" type="text" name="website" id="website" maxlength="32"/></dd>
		<dt><label for="phone">Phone </label></dt><dd><input class="blueback" type="text" name="phone" id="phone" maxlength="32"/></dd>
		<dt><label for="mobile">Mobile </label></dt><dd><input class="blueback" type="text" name="mobile" id="mobile" maxlength="32"/></dd>
		<dt><label for="email">Email </label></dt><dd><input class="blueback" type="text" name="email" id="email" maxlength="48"/></dd>
	  </dl>
	</div>
    <div class="half-block left">
	  <dl class="person-info">
		<dt><label>Address </label></dt><dd><input type="text" class="address blueback" name="street" id="street" placeholder="Street..." maxlength="32"/></dd>
		<dt>&nbsp;</dt><dd><input type="text" class="address blueback" name="city" id="city" placeholder="City" maxlength="32"/></dd>
		<dt>&nbsp;</dt><dd><input type="text" class="address blueback"  name="state" id="state" placeholder="State" maxlength="32"/></dd>
		<dt>&nbsp;</dt><dd><input type="text" class="address blueback" name="zip" id="zip" placeholder="ZIP" maxlength="32"/></dd>
		<dt>&nbsp;</dt><dd><input type="text" class="address blueback" name="country" id="country" placeholder="Country" maxlength="32"/></dd>
	  </dl>
    </div>
	</div>
    <div class="clearfix"></div>
	<div class="formTitle">
	  <h3 class="left">Contacts</h3>
	  <div class="clearfix"></div>
	</div>
	<div class="inner">
	  <input type="button" value="Add" id="addContacts" />
	  <div id="contacts">
	  </div>
	</div>
	<div class="details center">...</div>
	<div id="details-dialog">

	<div class="formTitle">
	  <h3 class="left">Sales &amp; Purchases</h3>
	  <div class="clearfix"></div>
	</div>
	<div class="inner">
	  <div class="half-block left">
		<dl class="person-info">
		  <dt><label for="employeesDd">Salesperson</label></dt>
		  <dd>
			<select id="employeesDd">
			</select>

		  </dd>
		  <dt><label for="departmentDd">Sales Team</label></dt>
		  <dd>
			<select id="departmentDd">
			</select>

		  </dd>
		  <dt><label for="reference">Reference</label></dt>
		  <dd>
			<input class="blueback" type="text" id="reference" maxlength="32"/>
		  </dd>
		  <dt><label for="language">Language</label></dt>
		  <dd>
			<select id="language">
			  <option>English</option>
			</select>
		  </dd>
		</dl>
	  </div>
	  <div class="half-block left">
		<dl class="person-info">
		  <dt><label for="isCustomer">Customer</label></dt><dd><input type="checkbox" id="isCustomer" /></dd>
		  <dt><label for="isSupplier">Supplier </label></dt><dd><input type="checkbox" id="isSupplier" /></dd>
		  <dt><label for="active">Active</label></dt><dd><input type="checkbox" id="active" checked="checked" /></dd>
		</dl>
	  </div>
	</div>
	  <div class="clearfix">
	  </div>
	  <div class="cropImages form" style="display:none;">
     	<div class="formTitle">
		<h3 class="left">Crop Images</h3>
		<div class="clearfix"></div>
	  	</div><br />	
      	<div class="image_input" style="float: left;margin-right: 20px;"></div>
      	<img class="image_output" />
      	<div class="clearfix"></div>
      </div>
	</div>
  </form>
</div>
