<% personsCollection.forEach(function(person, index){ %>
<tr data-id="<%=person._id%>">
    <td><input type="checkbox" value="<%=person._id%>" class="checkbox" /></td>
    <td><%=index+1%></td>
    <td><%=person.name.first.substr(0,15)%></td>
    <td><%=person.name.last%></td>
    <td><%=person.email%></td>
    <td><%=person.phones.phone%></td>
    <td><%=person.address.country%></td>
    <td><%=person.address.country%></td>

    <td><%=person.createdBy.date + ' (' + person.createdBy.user.login + ')'%></td>
    <td><%=(person.editedBy.user) ? person.editedBy.date + ' (' + person.editedBy.user.login + ')' : ''%></td>
</tr>
<% }) %>