    <div>
        <% alphabeticArray.forEach(function(letter, index){ %>
            <span><%=letter%></span>
        <% }) %>
    </div>

    <table class="list">
        <thead>
        <tr>
            <th><input type="checkbox" class="checkbox" id="check_all"/></th>
            <th>N</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
        </tr>
        </thead>
        <tbody>
        <% personsCollection.forEach(function(person, index){ %>
            <tr data-id="<%=person._id%>">
                <td><input type="checkbox" value="<%=person._id%>" class="checkbox" /></td>
                <td><%=index+1%></td>
                <td><%=person.name.last%> <%=person.name.first%></td>
                <td><%=person.email%></td>
                <td><%=person.phones.phone%></td>
            </tr>
        <% }) %>
        </tbody>
    </table>
