<div class="form-holder">
  <div class="formLeftColumn full-width">
    <form class="form" data-id="<%=_id%>">
      <div class="formTitle">
        <h3 class="left"><%=name%></h3>
		<div class="clearfix"></div>
      </div>
        <div class="inner">
			<dl class="job-info">
			  <dt><label for="currentNumberEmployees">Current Number of Employees</label></dt><dd><%=numberOfEmployees%></dd>
			  <dt><label for="expectedRecruitment">Expected in Recruitment</label></dt><dd><%=expectedRecruitment%></dd>
			  <dt><label for="totalForecastedEmployees">Total Forecasted Employees</label></dt><dd>2</dd>
			  <dt><label for="interviewForm">Interview Form</label></dt><dd>interviewForm</dd>
			  <dt><label for="description">Job Description</label></dt><dd><%=description%></dd>
			  <dt><label for="requirements">Requirements</label></dt><dd><%=requirements%></dd>
			  <dt><label for="department">Department</label></dt><dd><%= (department) ? department.departmentName : ''%></dd>
			</dl>
    </form>
  </div>
</div>
