    <div class="form-holder">
        <form method="post" action="" id="createProfileForm" class="form">
            <fielset>
                <div class="inner">
                    <p>
                        <label for="profileNameInput">Profile Name: </label>
                        <input type="text" id="profileNameInput" value="<%= profileName %>" required/>
                        <label for="profileDescInput">Description: </label>
                        <input type="text" id="profileDescInput" value="<%= profileDescription %>"/>
                    </p>
                </div>
            </fielset>
        </form>
    </div>
