<div class="inner-holder">
    <div class="workflow-list-wrapper left">
        <ul id="profilesList" class="workflow-list profile-list">
            <% profilesCollection.forEach(function(profile,index){ %>
            <li>
                <a href="#" data-id="<%= profile._id%>"><%= profile.profileName %> Profile</a>
            </li>
            <% }) %>
        </ul>
    </div>
    <div id="profileTableWrapper" class="left">
        <table class="list" id="modulesAccessTable">
            <thead>
                <tr>
                    <th>Module Name</th>
                    <th>View</th>
                    <th>Write/Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

