<div class="inner-holder">
    <div class="workflow-list-wrapper left">
        <ul class="workflow-list profile-list">
            <% profilesCollection.each(function(profile,index){ %>
            <li>
                <a href="#home/action-<%=contentType%>/View/<%= profile.get('_id')%> " data-id="<%= profile.get('_id')%>"><%= profile.get('profileName') %> Profile</a>
                <!--<td><%= profile.get('profileDescription') %> </td>-->
            </li>
            <% }) %>
        </ul>
    </div>
    <div id="profileTableWrapper" class="left">
        <table class="list" id="modulesAccessTable">
            <thead>
                <tr>
                    <th>Module Name</th>
                    <th>View</th>
                    <th>Write/Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

