<table class="list task-list">
    <thead>
        <tr>
            <th><input type="checkbox" id="check_all" /></th>
            <th>#</th>
            <th>Project Name</th>
            <th>ProjectID</th>
            <th>Project Manager</th>
            <th>Contact</th>
            <th>Estimated Time</th>
            <th>Remaining Time</th>
            <th>Progress</th>
            <th>Status</th>
            <th>Created By</th>
            <th>Edited By</th>
        </tr>
    </thead>
    <tbody id="listTable"></tbody>
</table>
