<table class="list task-list">
    <thead>
        <tr>
            <th>
                <input type="checkbox" class="checkbox" id="check_all" />
            </th>
            <th>#</th>
            <th>Project</th>
            <th>ProjectID</th>
            <th>Task Summary</th>
            <th>TaskID</th>
            <th>Assigned to</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Progress</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody id="listTable"></tbody>
</table>
