<div class="form-holder">
  <form method="post" action="" id="createJobPositionForm" class="form">
    <fieldset>
        <div class="inner">
            <ul class="dialog-tabs">
                <li><a class="active" href="javascript:;">Main</a></li>
                <li><a href="javascript:;">Assignees</a></li>
            </ul>
            <div class="clearfix"></div>
            <div class="dialog-tabs-items">
                <div class="dialog-tabs-item active">
	               <div class="half-block left">
		<dl class="job-create-info">
		  <dt><label for="name">Job Name </label></dt><dd><input type="text" class="title-input blueback" name="name" id="name" required maxlength="32"/></dd>
		  <dt><label for="expectedRecruitment">Expected in Recruitment</label></dt><dd><input type="number" name="expectedRecruitment" id="expectedRecruitment" placeholder="0.00" min="0" maxlength="32"/></dd>
		  <dt><label for="workflowNamesDd">Workflow Name</label></dt>
		  <dd>
		    <select id="workflowNamesDd">
            </select>

		  </dd>
		  <dt><label for="workflowsDd">Workflow</label></dt>
		  <dd>
            <select id="workflowsDd">
            </select>

		  </dd>
		  <dt><label for="departmentDd">Department</label></dt>
		  <dd>
            <select id="departmentDd">

            </select>
			
		  </dd>
		</dl>
	  </div>
	               <div class="half-block left">
		<dl class="job-create-info">
		  <dt><label for="description">Job Description</label></dt><dd><textarea id="description"></textarea></dd>
		  <dt><label for="requirements">Requirements </label></dt><dd><textarea id="requirements"></textarea></dd>
		  
		</dl>
      </div>
                   <div class="clearfix"></div>
                </div>
                <div class="dialog-tabs-item">
                    <div class="addUserAndGroup"><a href="javascript:;" class="addUser">Manage User</a> | <a href="javascript:;" class="addGroup">Manage Group</a></div>
                    <div class="clearfix"></div>

                    <div class="half-block left">
                        <div class="canReadAndWrite">
                            <input type="radio" name="whoCanRW" value="everyOne" checked="checked"/>Everyone<br>
                            <input type="radio" name="whoCanRW" value="owner"/>Owner<br>
                            <input type="radio" name="whoCanRW" value="group"/>Owner, Users and Users in Groups
                        </div>
                    </div>
                    <div class="half-block left">
                        <dl class="project-owner-info">
                            <dt><label for="allUsers">Owner</label></dt><dd>

                            <select id="allUsers">

                            </select>

                        </dd>
                        </dl>
                    </div>


                    <div class="addUserDialog">

                        <div class="formTitle">
                            <h3 class="left">Choose Users</h3>
                            <div class="clearfix"></div>
                        </div>
                        <div class="groupsChooser">
                            <div class="left">
                                <ul id="sourceUsers" class="source">

                                </ul>
                            </div>
                            <div class="left">
                                <div class="swich"></div>
                            </div>
                            <div class="left">
                                <ul id="targetUsers" class="target">

                                </ul>
                            </div>
                        </div>

                        <div class="clearfix"></div>
                    </div>
                    <div class="addGroupDialog">
                        <div class="formTitle">
                            <h3 class="left">Choose Groups</h3>
                            <div class="clearfix"></div>
                        </div>

                        <div class="groupsChooser">
                            <div class="left">
                                <ul id="sourceGroups" class="source">

                                </ul>
                            </div>
                            <div class="left">
                                <div class="swich"></div>
                            </div>
                            <div class="left">
                                <ul id="targetGroups" class="target">

                                </ul>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                    <table class="groupsAndUser">
                        <tr>
                            <th>Groups and Users</th><th></th>
                        </tr>
                    </table>
                    <div class="clearfix"></div>

                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </fieldset>
  </form>
    <div class="clearfix"></div>
</div>
