<div class="form-holder">
  <form method="post" action="" id="editJobPositionForm" class="form" data-id="<%=model._id%>">
    <fieldset>
	  <div class="half-block left">
		<dl class="job-create-info">
		  <dt><label for="name">Job Name :</label></dt><dd><input type="text" class="title-input blueback" name="name" id="name" value="<%=model.name%>" required /></dd>
		  <dt><label for="currentNumberEmployees">Current Number of Employees :</label></dt><dd><%= model.numberOfEmployees %></dd>
		  <dt><label for="expectedRecruitment">Expected in Recruitment :</label></dt><dd><input type="number" name="expectedRecruitment" id="expectedRecruitment" value="<%=model.expectedRecruitment%>" /></dd>
		  <dt><label for="totalForecastedEmployees">Total Forecasted Employees :</label></dt><dd>2</dd>
		  <dt><label for="interviewForm">Interview Form :</label></dt>
		  <dd>
            <select id="interviewForm">
              <option selected="selected" value="0">Select...</option>
            </select>
		  </dd>
		  <dt><label for="workflowNames">Workflow Names :</label></dt>
		  <dd>
			<select id="workflowNames">
              <option value="0">Select...</option>
              <% _.each(workflowNames, function(item){ %>
              <option <%=(item.id==model.workflow)?'selected="selected"':''%>><%= item.name %></option>
              <% }); %>
            </select>
		  </dd>
		  <dt><label for="workflow">Workflow :</label></dt><dd id="selectWorkflow"></dd>
		  <dt><label for="department">Department :</label></dt>
		  <dd>
			<select id="department">
              <option value="">Select...</option>
              <% departmentsCollection.each(function(option){ %>
              <option value="<%= option.get('_id') %>" <%=(model.department && option.get('_id')==model.department._id)? 'selected="selected"':''%>><%= option.get('departmentName')%></option>
              <% }); %>
            </select>
		  </dd>
		</dl>
	  </div>
	  <div class="half-block left">
		<dl class="job-create-info">
		  <dt><label for="description">Job Description :</label></dt><dd><textarea id="description"><%=model.description%></textarea></dd>
		  <dt><label for="requirements">Requirements :</label></dt><dd><textarea id="requirements"><%=model.requirements%></textarea></dd>
		</dl>		
	  </div>
    </fieldset>
  </form>
</div>
