    <table class="list">
        <thead>
            <tr>
                <th><input type="checkbox" class="checkbox" id="check_all"/></th>
                <th>N</th>
                <th>Source Name</th>
            </tr>
        </thead>
        <tbody>
        <% sourceOfApplicantsCollection.forEach(function(source, index){ %>
            <tr>
                <td><input type="checkbox" value="<%=source._id%>" class="checkbox"/></td>
                <td><%=index+1%></td>
                <td><%=source.name%></td>
            </tr>
        <% }) %>
        </tbody>
    </table>
