<div class="form-holder">
    <form method="post" action="" id="createDepartmentForm" class="form">
        <fieldset>
                <div class="half-block left">
                    <p><label for="name">Name</label></p>
                    <p><label for="status">Status</label></p>
                </div>
                <div class="half-block left">
                    <p><input type="text" class="title-input blueback" id="name" /></p>
                    <p>
                        <select id="status">
                            <option selected="selected" value="0">Select...</option>
                             <% relatedStatusesCollection.forEach(function(option){ %>
                                <option value="<%= option._id %>"><%= option.status %></option>
                             <% }); %>
                        </select>
                    </p>
                </div>
        </fieldset>
        <input type="submit" class="btn" value="Create"/>
    </form>
</div>
