<div class="form-holder">
    <form method="post" action="" class="form">
        <fieldset>
            <div class="half-block left">
                <dt>
                    <label for="wId">Workflow Id</label>
                </dt>
                <dt>
                    <label for="workflowsName">Workflow Name</label>
                </dt>
            </div>
            <div class="half-block left">
                <dt>
                    <select id="wId">
                        <% _.each(workflowsWIds, function(option){ %>
                        <option value="<%= option %>"><%= option %></option>
                        <% }); %>
                    </select>
                </dt>
                <dt>
                    <input type="text" class="title-input blueback" id="workflowsName" maxlength="32"/>
                </dt>
            </div>
            <div class="clearfix">
      		</div>
            
            <div id="allNamesStatuses">
            
	            <div class="nameStatus">
				    <p>
				        <label>Name</label>
				        <input type="text" class="name" maxlength="32"/>
				    </p>
				    
				    <p>
				    <label>Status</label>
				    <select id="statusesDd">
						
				    </select>
				  	</p>
				</div>
				
			</div>
            <!--  <input type="button" value="Add" id="addStatus">-->
        </fieldset>
    </form>
</div>