<div class="nameStatus">
    <p>
        <label>Name</label>
        <input type="text" class="name" maxlength="32"/>
    </p>
    <p>
        <label>Status</label>
        <select id="statusesDd">
            <option selected="selected" value="0">Select...</option>
            <% relatedStatusesCollection.forEach(function(option){ %>
            <option value="<%= option.get('_id') %>"><%= option.get('status') %></option>
            <% }); %>
        </select>
    </p>
    <input type="button" value="Remove" id="removeStatus">
</div>
