<div class="form-holder">
    <form method="post" action="" class="form">
        <fieldset>
            <div class="half-block left">
                <p>
                    <label for="wId">Workflow Id</label>
                </p>
                <p>
                    <label for="workflowsName">Workflow Name</label>
                </p>
            </div>
            <div class="half-block left">
                <p>
                    <select id="wId">
                        <option selected="selected" value="0">Select...</option>
                        <% workflowsWIds.forEach(function(option){ %>
                        <option value="<%= option %>"><%= option %></option>
                        <% }); %>
                    </select>
                </p>
                <p>
                    <input type="text" class="title-input blueback" id="workflowsName" maxlength="32"/>
                </p>
            </div>
            <div id="allNamesStatuses">
               
            </div>
            <button id="add" class="btn">Add</button>
        </fieldset>
        <input type="submit" class="btn" value="Create" />
    </form>
</div>
