<div id="dialog-form">
    <form>
        <fieldset>
            <select id="createCustomerOrNot">
                <option value="true">Create a new customer</option>
                <option value="">Do not create a new customer</option>
            </select>
        </fieldset>
    </form>
</div>
<div class="formHeader">
    <button class="red" id="convertToOpportunity">Convert to Opportunity</button>
    <button id="cancelCase">Cancel Case</button>
    <button id="reset">Reset</button>
    <ul class="breadcrumb"></ul>
</div>
<div class="form-holder">
    <form class="form" id="leadForm" data-id="<%=_id%>">
        <div class="inner">
            <h2><%=name%></h2>
            <div class="half-block left">
                <div class="half-block left">
                    <p>
                        <label>Company Name</label>
                    </p>
                    <p>
                        <label>Customer</label>                        
                    </p>
                    <p>
                        <label>Address</label>
                    </p>
                    <p>
                        <label></label>
                    </p>
                    <p>
                        <label></label>
                    </p>
                    <p>
                        <label></label>
                    </p>
                    <p>
                        <label></label>
                    </p>
                    <p></p>
                    <p>
                        <label>Salesperson</label>
                        
                    </p>
                    <p>
                        <label>Sales Team</label>
                       
                    </p>
                </div>
                <div class="half-block left">
                    <p>
                        <span><%= (company) ? company.name : ((tempCompanyField) ? tempCompanyField : '')%></span>
                    </p>
                    <p>
                        <span><%=(customer) ? customer.name.first + ' ' + customer.name.last: ''%></span>
                    </p>
                    <p>
                        <span><%=address.street%></span>
                    </p>
                    <p>
                        <span><%=address.city%></span>
                    </p>
                    <p>
                        <span><%=address.state%></span>
                    </p>
                    <p>
                        <span><%=address.zip%></span>
                    </p>
                    <p>
                        <span><%=address.country%></span>
                    </p>
                    <p></p>
                    <p><span><%=(salesPerson) ? salesPerson.name.first + ' ' +  salesPerson.name.last : ''%></span></p>
                    <p><span><%=(salesTeam) ? salesTeam.departmentName : ''%></span></p>
                </div>
            </div>
            <div class="half-block left">
                <div class="half-block left">

                    <p>
                        <label>Contact Name</label>
                       
                    </p>
                    <p>
                        <label>Email</label>
                       
                    </p>
                    <p>
                        <label>Function</label>
                    
                    </p>
                    <p>
                        <label>Phone</label>
                      
                    </p>
                    <p>
                        <label>Mobile</label>
                       
                    </p>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p>
                        <label>Priority</label>
                       
                    </p>
                    <p>
                        <label>Categories</label>

                    </p>
                </div>
                <div class="half-block left">
                    <p><span><%=contactName.first%> <%=contactName.last%></span></p>
                    <p><a href="mailto:<%=email%>"><%=email%></a></p>
                    <p><span><%=func%></span></p>
                    <p><span><%=phones.phone%></span></p>
                    <p><span><%=phones.mobile%></span></p>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p><span><%=priority%></span></p>
                    <p><span></span></p>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>         
       
        <div id="tabs">
            <div>
                <ul id="tabList" class="inner">
                    <li>
                        <a href="#" class="selected">Internal Notes</a>
                    </li>
                    <li>
                        <a href="#">Extra Info</a>
                    </li>
                </ul>
                <br />
            </div>
            <div class="tab">
                <textarea><%=internalNotes%></textarea>
            </div>
            <div class="tab">
                <div class="half-block left">
                    <h3>Categorization</h3>
                    <div class="half-block left">
                        <p>
                            <label>Status</label>                          
                        </p>                      
                    </div>
                    <div class="half-block left">
                        <p><span><%=(workflow) ? workflow.status : ''%></span></p>
                      
                     </div>
                </div>
                <div class="half-block left">
                    <h3>Mailings</h3>
                    <div class="half-block left">
                        <p>
                            <label>Opt-Out</label>                          
                        </p>
                    </div>
                    <div class="half-block left">
                        <p>
                            <input type="checkbox" <%= (optout)? checked='checked':''%> id="optout" disabled />
                        </p>
                    </div>
                </div>
                <div class="half-block left">
                    <h3>Misc</h3>
                    <div class="half-block left">
                        <p>
                            <label>Active</label>
                        </p>
                        <p>
                            <label>Referred By</label>
                        </p>
                    </div>
                    <div class="half-block left">
                        <p><span><input type="checkbox" <%= (active)? checked='checked':''%> id="active" disabled /></span></p>
                        <p><span><%=reffered%></span></p>
                    </div>
                </div>
              <div class="clearfix"></div>
               
               
              
               
            </div>
        </div>
    </form>
</div>