<div>
    <form id="loginForm">
        <h2>Login to your account</h2>
        <p>
            <!-- 	        <label for="ulogin">Login:</label> -->
            <div class="icon-login">
                <span class="icon"></span>
                <input type="text" placeholder="Username" id="ulogin" name="ulogin" value="" maxlength="15"/>
            </div>
        </p>
        <p>
            <!-- 	    	<label for="upass">Password:</label> -->
            <div class="icon-pass">
                <span class="icon"></span>
                <input type="password" placeholder="Password" id="upass" name="upass" value="" maxlength="15"/>
            </div>
        </p>

        <a class="remember-me" href="javascript:;"><span class="check"></span>Remember me</a>
        <input type="checkbox" id="urem" name="urem" />
        <a class="login-button" href="javascript:;">Login<i></i></a>
        <input type="submit" class="right metroicon" value="">
        <div class="line"></div>
        <h3>Forgot your password ?</h3>
        <span class="text">no worries, click <a href="#">here</a> to reset your password.</span>
        <div class="dotted-line"></div>
        <span class="text">Don't have an account yet ?  <a href="#">Create an account</a></span>
        <div class="clear-fix"></div>
    </form>
</div>
