<div class="inner" data-id="<%=model._id%>" data-sequence="<%=model.sequence%>">
    <div class="task-header">
        <div class="right">
            <p class="right bold"><%=model.deadline%></p>
        </div>

        <div class="left">
            <div class="left"><span id="shortDesc<%=model._id%>"><%=model.project.projectShortDesc%></span>-<%=model.taskCount%>&nbsp;|&nbsp;</div>
            <div class="taskSelect left">
                <a id="priority<%=model._id%>" data-id="<%=model.extrainfo.priority%>" class="current-selected" href="javascript:;"><%=model.extrainfo.priority%></a>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="task-content">
        <div class="info">
            <p id="summary<%=model._id%>"><%=model.summary%></p>
            <% _.each(model.tags,function(tag){ %>
            <% });%>
        </div>
        <div class="avatar-small right"><img class="person" src="<%=(model.assignedTo && model.assignedTo.name) ? model.assignedTo.imageSrc : ''%>" alt="<%=(model.assignedTo) ? model.assignedTo.name.first + ' ' + model.assignedTo.name.last : ''%>" /></div>

        <div class="bottom"><p id="type<%=model._id%>" class="bold"><%=model.type%></p></div>
        <div class="clearfix">
        </div>
    </div>
</div>
