<div class="task-header">
    <div class="half-block left"><p><%=model.project.projectShortDesc%>-<%=model.taskCount%></p></div>
    <div class="half-block left"><p><%=model.assignedTo.name%></p></div>
    <div class="dropDown">
        <a href="#">
            <img src="./images/downCircleWhite.png" alt="Down" hidden="hidden" />
        </a>
        <ul class="dropDownOpened" hidden="hidden">
            <li>
                <a href="#" id="edit">Edit...</a>
            </li>
            <li>
                <a href="#" id="delete">Delete</a>
            </li>
            <li>
                <ul class="colorPicker">
                    <% colors.forEach(function(color, index){ %>
                        <li>
                            <a href="#" data-color="<%=color.dataColor%>" class="<%= color.className %>"></a>
                        </li>
                    <% }) %>
                </ul>
            </li>
        </ul>
    </div>
    <div class="clearfix"></div>
</div>
<div class="task-content">
    <div class="avatar-small right"><img class="person" src="<%=model.assignedTo.imageSrc%>"  alt="<%=model.assignedTo.name%>"/></div>
    <div class="info">
        <p><%=model.project.name%></p>
        <p><%=model.summary%></p>
        <% _.each(model.tags,function(tag){ %>
             <span class="tag"><%=tag%></span>
        <% });%>
        <p class="deadline"><%=model.deadline%></p>
    </div>
</div>
