<!--<div class="scroll-x">-->
    <table class="kanban">
        <tbody>
            <tr>
                <% workflowsCollection.forEach(function(workflow, index){ %>
                <td class="column" data-index="<%=index%>" data-status="<%=workflow.status%>" data-name="<%=workflow.name%>" data-id="<%=workflow._id%>">
                    <div class="columnNameDiv">
                        <h2 class="columnName"><%=workflow.name%></h2>
                    </div>
                </td>
                <% }) %>
            </tr>
        </tbody>
    </table>
<!--</div>-->