<h3 class="dashboard">How many leads have been created?</h3>
<div class="choseDateItem">
  <div class="item" data-item="D">Day</div>
  <div class="item" data-item="W">Week</div>
  <div class="item active" data-item="M">Month</div>
  <div class="item" data-item="DW">Day of Week</div>
  <div class="item" data-item="DM">Day of Month</div>
</div>
<div class="choseDateRange">
  <div class="item" data-day="7">7D</div>
  <div class="item" data-day="30">30D</div>
  <div class="item" data-day="90">90D</div>
  <div class="item active" data-day="365">12M</div>
</div>
<div class="clearfix"></div>
<div class="legend-box">
  <div class="converted">
    <div class="square">
    </div>
    <div class="text">
	  Converted Leads
    </div>
	<div class="clearfix"></div>
  </div>

  <div class="unconverted">
    <div class="square">
    </div>
    <div class="text">
	  Unconverted Leads
    </div>
  </div>

  <div class="convertRate">
    <div class="square">
    </div>
    <div class="text">
	  Opportunity Conversion Rate
    </div>
  </div>
</div>

<svg class="leadChart"></svg>
<h3 class="dashboard">What are our best primary campaigs?</h3>
<div class="choseDateRangeSource">
  <div class="item" data-day="7">7D</div>
  <div class="item" data-day="30">30D</div>
  <div class="item" data-day="90">90D</div>
  <div class="item active" data-day="365">12M</div>
</div>
<div class="clearfix"></div>
<div class="legend-box small">
  <div class="total">
    <div class="square">
    </div>
    <div class="text">
	  Total Leads
    </div>
  </div>
  <div class="opportunities">
    <div class="square">
    </div>
    <div class="text">
	  Opportunities
    </div>
	<div class="clearfix"></div>
  </div>

</div>

<svg class="chart"></svg>

