
        <tr data-index="<%=index%>" data-id="<%= _id%>">
            <td><input type="checkbox" value="<%=_id%>" class="checkbox" /></td>
            <td><%=index%></td>
            <td><%=(project) ? project.projectName : ''%></td>
            <td><%=(project) ? project.projectShortDesc : ''%></td>
            <td><%=summary%></td>
            <td><%=(project) ? project.projectShortDesc : ''%><%=taskCount%></td>
            <td><%=(assignedTo) ? assignedTo.name.first + ' ' + assignedTo.name.last : ''%></td>
            <td><%=extrainfo.StartDate%></td>
            <td><%=extrainfo.EndDate%></td>
            <td><progress name="taskProgress" max="100" value="<%=progress%>" /></td>
            <td><%=(workflow) ? workflow.name : ''%></td>
            <td><%=(createdBy.user) ? createdBy.date + " (" + createdBy.user.login + ")" : ''%></td>
            <td><%=(editedBy.user) ? editedBy.date + " (" + editedBy.user.login + ")" : ''%></td>
        </tr>
