<div class="form-holder">
    <form method="post" action="" class="form" id="leadForm">
        <fieldset>
            <div class="inner">
                <p>
                    <label for="name">Subject</label>
                    <input type="text" class="title-input blueback" id="name" placeholder="Describe the lead..." required />
                </p>
                <div class="half-block left">
                    <div class="half-block left">

                        <p>
                            <label for="company">Company Name</label>
                        </p>
                        <p>
                            <label for="customer">Customer</label>
                        </p>
                        <p>
                            <label>Address</label>
                        </p>
                        <p>
                            <label></label>
                        </p>
                        <p>
                            <label></label>
                        </p>
                        <p>
                            <label></label>
                        </p>
                        <p>
                            <label></label>
                        </p>
                        <p></p>
                        <p>
                            <label for="salesPerson">Salesperson</label>
                        </p>
                        <p>
                            <label for="salesTeam">Sales Team</label>
                        </p>
                    </div>
                    <div class="half-block left">
                        <p>
                            <input type="text" id="company" data-id=""/>
                        </p>
                        <p>
                            <select id="customer">
                                <option selected="selected" value="">Select...</option>
                                <% customersCollection.each(function(option){ %>
                                <option value="<%= option.get('_id') %>"><%= option.get('name')%></option>
                                <% }); %>
                            </select>
                        </p>
                        <p>
                            <input type="text" class="address" id="street" name="street" placeholder="Street" />
                        </p>
                        <p>
                            <input type="text" class="address" id="city" name="city" placeholder="City" />
                        </p>
                        <p>
                            <input type="text" class="address" id="state" name="state" placeholder="State" />
                        </p>
                        <p>
                            <input type="text" class="address" id="zip" name="zip" placeholder="ZIP" />
                        </p>
                        <p>
                            <input type="text" class="address" id="country" name="country" placeholder="Country" />
                        </p>
                        <p></p>
                        <p>
                            <select id="salesPerson">
                                <option selected="selected" value="">Select...</option>
                                <% employeesCollection.each(function(option){ %>
                                <option value="<%= option.get('_id') %>"><%= option.get('name').first %> <%= option.get('name').last %></option>
                                <% }); %>
                            </select>
                        </p>
                        <p>
                            <select id="salesTeam">
                                <option selected="selected" value="">Select...</option>
                                <% departmentsCollection.each(function(option){ %>
                                <option value="<%= option.get('_id') %>"><%= option.get('departmentName')%></option>
                                <% }); %>
                            </select>
                        </p>
                    </div>
                </div>
                <div class="half-block left">
                    <div class="half-block left">
                        <p>
                            <label for="name">Contact name</label>
                        </p>
                        <p>
                            <label></label>
                        </p>
                        <p>
                            <label for="email">Email</label>

                        </p>
                        <p>
                            <label for="func">Function</label>

                        </p>
                        <p>
                            <label for="phone">Phone </label>

                        </p>
                        <p>
                            <label for="mobile">Mobile </label>

                        </p>
                        <p>
                            <label for="workflowNames">Workflow Name </label>
                        </p>
                        <p>
                            <label for="workflow">Workflow</label>
                        </p>
                        <p>
                            <label for="priority">Priority</label>
                        </p>
                        <p>
                            <label for="name">Categories</label>
                        </p>
                    </div>
                    <div class="half-block left">
                        <p>
                            <input type="text" class="name" id="first" placeholder="First" />
                        </p>
                        <p>
                            <input type="text" class="name" id="last" placeholder="Last" />
                        </p>
                        <p>
                            <input type="text" id="email" />
                        </p>
                        <p>
                            <input type="text" id="func" />
                        </p>
                        <p>
                            <input type="text" id="phone" />
                        </p>
                        <p>
                            <input type="text" id="mobile" />
                        </p>
                        <p>
                            <select id="workflowNames">
                                <% _.each(workflowNames, function(item){ %>
                                <option><%= item %></option>
                                <%}); %>
                            </select>
                        </p>
                        <p id="selectWorkflow">
                            <select id="workflow">
                                <% _.each(workflows, function(item){ %>
                                    <option value="<%= item.status %>" data-id="<%=item._id%>"><%= item.name %></option>
                                <%}); %>
                            </select>
                        </p>
                        <p>
                            <select id="priority">
                                <option selected="selected" value="">Select...</option>
                                <% priorityCollection.each(function(option){ %>
                                <option value="<%= option.get('priority') %>"><%= option.get('priority') %></option>
                                <% }); %>
                            </select>
                        </p>
                    </div>
                </div>
                <div class="clearfix"></div>

            </div>
            <div id="tabs">
                <div>
                    <ul id="tabList" class="inner">
                        <li>
                            <a href="#" class="selected">Internal Notes</a>
                        </li>
                        <li>
                            <a href="#">Extra Info</a>
                        </li>
                    </ul>
                    <br />
                </div>
                <div class="tab">
                    <textarea id="internalNotes"></textarea>
                </div>
                <div class="tab">
                    <div class="half-block left">
                        <h3>Categorization</h3>
                        <div class="half-block left">
                            <p>
                                <label>Status</label>
                            </p>
                        </div>
                        <div class="half-block left">
                            <p>
                            </p>
                        </div>
                    </div>
                    <div class="half-block left">
                        <h3>Mailings</h3>
                        <div class="half-block left">
                            <p>
                                <label>Opt-Out</label>

                            </p>
                        </div>
                        <div class="half-block left">
                            <p>
                                <input type="checkbox" id="optout" />
                            </p>
                        </div>
                    </div>
                    <div class="half-block left">
                        <h3>Misc</h3>
                        <div class="half-block left">
                            <p>
                                <label>Active</label>
                            </p>
                            <p>
                                <label>Referred By</label>
                            </p>

                        </div>
                        <div class="half-block left">
                            <p>
                                <input type="checkbox" checked="checked" id="active" />
                            </p>
                            <p>
                                <input type="text" id="reffered" />
                            </p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </fieldset>
    </form>
</div>
