
<div class="form-holder">
    <form method="post" action="" class="form" id="leadForm" data-id="<%=_id%>">
        <fieldset>
            <div class="inner">
                <p>
                    <label for="name">Subject</label>
                    <input type="text" class="title-input blueback" id="name" value="<%=name%>" required maxlength="32"/>
                </p>
                <div class="half-block left">
                    <div class="half-block left">                        
                        <p>
                            <label for="company">Company Name</label>
                        </p>
                        <p>
                            <label for="customerDd">Customer</label>
                        </p>
                        <p>
                            <label for="name">Address</label>
                        </p>
                        <p><label></label></p>
                        <p><label></label></p>
                        <p><label></label></p>
                        <p><label></label></p>
                        <p></p>
                        <p>
                            <label for="salesPerson">Salesperson</label>

                        </p>
                        <p>
                            <label for="salesTeam">Sales Team</label>

                        </p>
                    </div>
                    <div class="half-block left">                       
                        <p>
                            <input type="text" id="company" value="<%= tempCompanyField %>" maxlength="32" />
                        </p>
                        <p>
                            <select id="customerDd"> </select>
                        </p>
                        <p><input type="text" id="street" class="address" placeholder="Street" name="street" value="<%=address.street%>" maxlength="32"/></p>
                        <p>
                            <input type="text" id="city" class="address" placeholder="City" name="city" value="<%=address.city%>" maxlength="32"/>
                        </p>
                        <p>
                            <input type="text" id="state" class="address" placeholder="State" name="state" value="<%=address.state%>" maxlength="32"/>
                        </p>
                        <p>
                            <input type="text" id="zip" class="address" name="zip" placeholder="Zip" value="<%=address.zip%>" maxlength="32"/>
                        </p>
                        <p>
                            <input type="text" id="country" class="address" name="country" placeholder="Country" value="<%=address.country%>" maxlength="32"/>
                        </p>
                        <p></p>
                        <p>
                            <select id="salesPerson">  </select>
                        </p>
                        <p>
                            <select id="salesTeam">
                            </select>
                        </p>
                    </div>
                </div>
                <div class="half-block left">
                    <div class="half-block left">
                        <p>
                            <label for="name">Contact name</label>
                        </p>
                        <p><label></label></p>
                        <p>
                            <label for="email">Email</label>
                        </p>
                        <p>
                            <label for="func">Function</label>
                        </p>
                        <p>
                            <label for="phone">Phone </label>
                        </p>
                        <p>
                            <label for="mobile">Mobile </label>
                        </p>
                        <p>
                            <label for="workflowNamesDd">Workflow Names </label>
                        </p>                       
                        <p>
                            <label for="selectWorkflow">Workflow </label>
                        </p>
                        <p>
                            <label for="priorityDd">Priority </label>
                        </p>
                        <p>
                            <label for="name">Categories</label>
                        </p>
                    </div>
                    <div class="half-block left">
                        <p><input type="text" class="name" id="first" placeholder="First" value="<%=(contactName) ? contactName.first : ''%>" maxlength="32"/></p>
                        <p><input type="text" class="name" id="last" placeholder="Last" value="<%=(contactName) ? contactName.last : ''%>" maxlength="32"/></p>
                        <p><input type="text" id="email" value="<%=email%>" maxlength="32"/></p>
                        <p><input type="text" id="func" value="<%=func%>" maxlength="32"/></p>
                        <p><input type="text" id="phone" value="<%=phones.phone%>" maxlength="32"/></p>
                        <p><input type="text" id="mobile" value="<%=phones.mobile%>" maxlength="32"/></p>
                        <p>
                            <select id="workflowNamesDd">  </select>
                        </p>                      
                        <p id="selectWorkflow">
                            <select id="workflowsDd">  </select>
                        </p>
                        <p>
                            <select id="priorityDd"> </select>
                        </p>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>

            <div id="tabs">
                <div>
                    <ul id="tabList" class="inner">
                        <li>
                            <a href="#" class="selected">Internal Notes</a>
                        </li>
                        <li>
                            <a href="#">Extra Info</a>
                        </li>
                    </ul>
                    <br />
                </div>
                <div class="tab">
                    <textarea id="internalNotes"><%=internalNotes%></textarea>
                </div>
                <div class="tab">
                    <div class="half-block left">
                        <h3>Categorization</h3>
                        <div class="half-block left">
                            <p>
                                <label>Status</label>                              
                            </p>
                        </div>
                        <div class="half-block left">
                            <p>
                                <span><%=(workflow) ? workflow.status : ''%></span>
                            </p>
                        </div>
                    </div>
                    <div class="half-block left">
                        <h3>Mailings</h3>                       
                        <div class="half-block left">
                            <p>
                                <label>Opt-Out</label>                              
                            </p>
                        </div>
                        <div class="half-block left">
                            <p>
                                <input type="checkbox" <%= (optout)? 'checked="checked"':''%> id="optout" />
                            </p>
                        </div>
                    </div>
                    <div class="half-block left">
                        <h3>Misc</h3>
                        <div class="half-block left">
                            <p>
                                <label>Active</label>                               
                            </p>
                            <p>
                                <label>Referred By</label>
                               
                            </p>
                        </div>
                        <div class="half-block left">
                            <p><input type="checkbox" <%= (active)? 'checked="checked"':''%> id="active" /></p>
                            <p><input type="text" id="reffered" value="<%=reffered%>" /></p>
                        </div>
                    </div>    
                    <div class="clearfix"></div>   
                </div>
            </div>
        </fieldset>
    </form>
</div>
