<div class="formTitle">
    <h3 class="left">Persons</h3>
    <div class="btnHolder">
        <button class="btn red">Create</button>
    </div>
    <div class="clearfix"></div>
</div>
<div id="persons" class="scroll">
    <ul class="compactList">
        <% _.each(collection, function(model, index){ %>
        <% if (model.company.name == company.name) { %>
        <li class="inner">
            <p>
                <a id="<%=++index%>" href="#">
                    <%=model.name.first%> <%=model.name.last%>
                </a>
            </p>
            <p>
                <%=model.phones.mobile%>
            </p>
            <p>
                <%=model.phones.phone%>
            </p>
            <p>
                <%=model.email%>
            </p>
        </li>
        <% }%>
        <% });%>
    </ul>
    <div class="clearfix"></div>
</div>