<div class="form-holder">

  <form method="post" action="" id="createPersonsForm" class="form">
    <fieldset>
      <div class="formTitle">
		<h3 class="left"><legend>Personal Info</legend></h3>
		<div class="clearfix"></div>
	  </div>
      <div class="half-block left">
		<dl class="person-info">
		  <dt><label for="firstName">First Name :</label></dt><dd><input type="text" name="firstName" id="firstName" class="blueback" required /></dd>
		  <dt><label for="lastName">Last Name :</label></dt><dd><input type="text" name="lastName" id="lastName" class="blueback" required /></dd>
		  <dt><label for="companiesDd">Company :</label></dt>
		  <dd>
			<select id="companiesDd">
              <option selected="selected" value=""></option>
              <% companiesCollection.each(function(option){ %>
              <option value="<%= option.id %>"><%= option.get('name').first%></option>
              <% }) %>
            </select>

		  </dd>
		  <dt><label for="tagsDd">Tags :</label></dt>
		  <dd>
			<select id="tagsDd">
              <option selected="selected" value="0">Select...</option>
            </select>

		  </dd>
		</dl>
	  </div>
      <div class="half-block left">
        <div class="avatar">
          <input type="file" value="Edit" id="inputImg" accept="image/*">
          <canvas id="avatar" width="120" height="120"></canvas>
        </div>
	  </div>
      <div class="clearfix">
      </div>
      <div class="formTitle">
		<h3 class="left"><legend>Address Info</legend></h3>
		<div class="clearfix"></div>
	  </div>

      <div class="half-block left">
		<dl class="person-info">
		  <dt><label for="addressInput">Address :</label></dt><dd><input class="blueback" type="text" id="addressInput" placeholder="Street..." /></dd>
		  <dt>&nbsp;</dt><dd><input class="blueback" type="text" id="cityInput" placeholder="City" /></dd>
		  <dt>&nbsp;</dt><dd><input class="blueback" type="text" id="stateInput" placeholder="State" /></dd>
		  <dt>&nbsp;</dt><dd><input class="blueback" type="text" id="zipInput" placeholder="Zip" /></dd>
		  <dt>&nbsp;</dt><dd><input class="blueback" type="text" id="countryInput" placeholder="Country" /></dd>
		  <dt><label for="mobileInput">Mobile :</label></dt><dd><input class="blueback" type="text" id="mobileInput" /></dd>
		  <dt><label for="faxInput">Fax :</label></dt><dd><input class="blueback" type="text" id="faxInput" /></dd>
		  <dt><label for="emailInput">Email :</label></dt><dd><input class="blueback" type="text" id="emailInput" /></dd>
		</dl>
	  </div>
      <div class="half-block left">
		<dl class="person-info">
		  <dt><label for="websiteInput">Website :</label></dt><dd><input class="blueback" type="text" id="websiteInput" placeholder="e.g. www.site.com" /></dd>
		  <dt><label for="skype">Skype :</label></dt><dd><input class="blueback" type="text" id="skype" /></dd>
		  <dt><label for="jobPositionInput">Job Position :</label></dt><dd><input class="blueback" type="text" id="jobPositionInput" placeholder="e.g. Sales Manager" /></dd>
		  <dt><label for="department">Department :</label></dt>
		  <dd>
            <select id="department">
              <option selected="selected" value="">Select...</option>
              <% departmentsCollection.each(function(option){ %>
              <option value="<%= option.get('_id') %>"><%= option.get('departmentName')%></option>
              <% }); %>
            </select>

		  </dd>
		  <dt><label for="phoneInput">Phone :</label></dt><dd><input class="blueback" type="text" id="phoneInput" /></dd>
		  <dt><label for="dateBirth">Date Of Birth :</label></dt><dd><input class="blueback" type="text" id="dateBirth" /></dd>
		  <dt><label for="titleDd">Title :</label></dt>
		  <dd>
            <select id="titleDd">
              <option selected="selected" value="0">Select...</option>
            </select>

		  </dd>
		</dl>
	  </div>
      <div class="clearfix">
      </div>
      <div class="formTitle">
		<h3 class="left"><span>Sales &amp; Purchases</span></h3>
		<div class="clearfix"></div>
	  </div>

      <div class="half-block left">
		<dl class="person-info">
		  <dt><label>Customer :</label></dt><dd><input type="checkbox" id="isCustomerInput" /></dd>
		  <dt><label>Supplier :</label></dt><dd><input type="checkbox" id="isSupplierInput" /></dd>
		</dl>
	  </div>
      <div class="half-block left">
		<dl class="person-info">
		  <dt><label>Active :</label></dt><dd><input type="checkbox" id="isActiveInput" /></dd>
		</dl>
	  </div>
      <div class="clearfix">
      </div>
  </form>
</div>
