<div class="form-holder">

    <form method="post" action="" id="createPersonsForm" class="form">
        <fieldset>
            <legend>Personal Info</legend>
            <div class="avatar">
                <input type="file" value="Edit" id="inputImg" accept="image/*">
                <canvas id="avatar" width="120" height="120"></canvas>
            </div>
            <p>
                <label for="firstName">First Name</label>
                <input type="text" name="firstName" id="firstName" required/> <br/>
                <label for="lastName">Last Name</label>
                <input type="text" name="lastName" id="lastName" required/>
            </p>

            <p>
                <label for="companiesDd">Company</label>
                <select id="companiesDd">
                    <option selected="selected" value="0"></option>
                    <% companiesCollection.each(function(option){ %>
                        <option value="<%= option._id %>"><%= option.get('name')%></option>
                    <% }) %>
                </select>
            </p>

            <p>
                <label for="tagsDd">Tags</label>
                <select id="tagsDd">
                    <option selected="selected" value="0">Select...</option>
                </select>
            </p>

        </fieldset>
        <br/>

        <fieldset>
            <legend>Address Info</legend>
            <p>
                <label for="addressInput">Address</label>
                <input type="text" id="addressInput" placeholder="Street..."/>
                <input type="text" id="additional"/>
                <input type="text" id="cityInput" placeholder="City"/>
                <input type="text" id="stateInput" placeholder="State"/>
                <input type="text" id="zipInput" placeholder="Zip"/>
                <input type="text" id="countryInput" placeholder="Country"/>
            </p>
        </fieldset>

        <p>
            <label for="websiteInput">Website</label>
            <input type="text" id="websiteInput" placeholder="e.g. www.site.com"/>
        </p>

        <p>
            <label for="jobPositionInput">Job Position</label>
            <input type="text" id="jobPositionInput" placeholder="e.g. Sales Manager"/>
        </p>
        <p>
            <label for="phoneInput">Phone</label>
            <input type="text" id="phoneInput"/>
        </p>
        <p>
            <label for="mobileInput">Mobile</label>
            <input type="text" id="mobileInput"/>
        </p>
        <p>
            <label for="faxInput">Fax</label>
            <input type="text" id="faxInput"/>
        </p>
        <p>
            <label for="emailInput">Email</label>
            <input type="text" id="emailInput"/>
        </p>
        <p>
            <label for="titleDd">Title</label>
            <select id="titleDd">
                <option selected="selected" value="0">Select...</option>
            </select>
        </p>
        <br/>
        <div>
            <span>Sales & Purchases</span>
            <p>
                <label>Customer: <input type="checkbox" id="isCustomerInput" /> </label>
                <label>Supplier: <input type="checkbox"  id="isSupplierInput" /> </label>
                <label>Active: <input type="checkbox" id="isActiveInput" /> </label>
            </p>
        </div>

    </form>
</div>