<div class="form-holder">

  <form method="post" action="" id="createPersonsForm" class="form">
    <div class="formTitle">
	  <h3 class="left">Personal Info</h3>
	  <div class="clearfix"></div>
	</div>


    <div class="half-block left">
	  <dl class="person-info">
		<dt><label for="firstName">First Name :</label></dt><dd><input class="blueback" type="text" name="firstName" id="firstName" value="<%= model.name.first %>" required/></dd>
		<dt><label for="lastName">Last Name :</label></dt><dd><input class="blueback" type="text" name="lastName" id="lastName" value="<%= model.name.last %>" required/></dd>
	  </dl>

	  <dl class="person-info">
		<dt><label for="companiesDd">Company :</label></dt><dd>
          <select id="companiesDd">

          </select>

		</dd>
		<dt><label for="tagsDd">Tags :</label></dt><dd>
		  <select id="tagsDd">
            <option selected="selected" value="0">Select...</option>
          </select>

		</dd>
	  </dl>
	</div>
    <div class="half-block left">
	  <dl class="person-info">
		<dt>
		  <div class="avatar">
            <input type="file" value="Edit" id="inputImg" accept="image/*">
            <canvas id="avatar" width="120" height="120"></canvas>
          </div>
		</dt><dd>
		  &nbsp;

		</dd>
	  </dl>

	</div>
	<div class="clearfix">
	</div>
    <div class="formTitle">
	  <h3 class="left">Address Info</h3>
	  <div class="clearfix"></div>
	</div>
    <div class="half-block left">
	  <dl class="person-info">
		<dt><label for="addressInput">Address :</label></dt><dd><input class="blueback" type="text" id="addressInput" value="<%= model.address.street%>" placeholder="Street..."/></dd>
		<dt>&nbsp;</dt><dd><input class="blueback" type="text" id="cityInput" value="<%= model.address.city%>" placeholder="City"/></dd>
		<dt>&nbsp;</dt><dd><input class="blueback" type="text" id="countryInput" value="<%= model.address.country%>" placeholder="Country"/></dd>
		<dt>&nbsp;</dt><dd><input class="blueback" type="text" id="stateInput" value="<%= model.address.state%>" placeholder="State"/></dd>
		<dt>&nbsp;</dt><dd><input class="blueback" type="text" id="zipInput" value="<%= model.address.zip%>" placeholder="Zip"/></dd>

	  </dl>
	</div>
    <div class="half-block left">
	  <dl class="person-info">
		<dt><label for="websiteInput">Website :</label></dt><dd><input class="blueback" type="text" id="websiteInput" value="<%= model.website%>" placeholder="e.g. www.site.com"/></dd>
		<dt><label for="skype">Skype :</label></dt><dd><input class="blueback" type="text" id="skype" value="<%=model.skype%>"/></dd>
		<dt><label for="jobPositionInput">Job Position :</label></dt><dd><input class="blueback" type="text" id="jobPositionInput" value="<%= model.jobPosition%>" placeholder="e.g. Sales Manager"/></dd>
		<dt><label for="department">Department :</label></dt><dd>
		  <select id="department">

          </select>

		</dd>
		<dt><label for="phoneInput">Phone :</label></dt><dd><input class="blueback" type="text" id="phoneInput" value="<%= model.phones.phone%>"/></dd>
	  </dl>
	</div>
    <div class="half-block left">
	  <dl class="person-info">
		<dt><label for="mobileInput">Mobile :</label></dt><dd><input class="blueback" type="text" id="mobileInput" value="<%= model.phones.mobile%>"/></dd>
		<dt><label for="faxInput">Fax: </label></dt><dd><input class="blueback" type="text" id="faxInput" value="<%= model.phones.fax%>"/></dd>
		<dt><label for="emailInput">Email :</label></dt><dd><input class="blueback" type="text" id="emailInput" value="<%= model.email%>"/></dd>
	  </dl>
	</div>
    <div class="half-block left">
	  <dl class="person-info">
		<dt><label for="dateBirth">Date Of Birth :</label></dt><dd><input class="blueback" type="text" id="dateBirth" value="<%= model.dateBirth%>"/></dd>
		<dt><label for="titleDd">Title :</label></dt><dd>
		  <select id="titleDd">
            <option selected="selected" value="0">Select...</option>
          </select>
		  
		</dd>

	  </dl>
	</div>

    <div class="clearfix">
    </div>
    <div class="formTitle">
	  <h3 class="left">Sales &amp; Purchases</h3>
	  <div class="clearfix"></div>
	</div>
    <div class="half-block left">
	  <dl class="person-info">
		<dt>Customer :</dt><dd><input type="checkbox" <% if(model.salesPurchases.isCustomer) { %> checked="checked" <% } %>  id="isCustomerInput"/></dd>
		<dt>Supplier :</dt><dd><input type="checkbox" <% if(model.salesPurchases.isSupplier) { %> checked="checked" <% } %>  id="isSupplierInput"/></dd>
	  </dl>
	</div>
    <div class="half-block left">
	  <dl class="person-info">
		<dt>Active :</dt><dd><input type="checkbox" <% if(model.salesPurchases.active) { %> checked="checked" <% } %>  id="isActiveInput"/></dd>
	  </dl>
	</div>
    <div class="clearfix">
    </div>
    <div class="buttons">
      <input type="submit" id="saveBtn" class="btn" value="Save"/>
      <input type="button" id="cancelBtn" class="btn" value="Cancel"/>
	</div>
  </form>
</div>
