<div class="form-holder">
  <form method="post" action="" id="createProjectForm" class="form">
    <fieldset>
      <div class="inner">
        <div class="half-block left">
          <dl class="person-info">
			<dt><label for="projectName">Project Name :</label></dt><dd><input type="text" class="title-input blueback" name="projectName" id="projectName" required /></dd>
			<dt><label for="projectShortDesc">Project Short Description :</label></dt><dd><input type="text" class="title-input blueback" name="projectShortDesc" id="projectShortDesc" required /></dd>
			<dt><label for="managerDd">Project Manager :</label></dt>
			<dd>
			  <select id="managerDd">
                <option selected="selected" value="">Select...</option>
                <% accountDdCollection.each(function(option){ %>
                <option value="<%= option.get('_id') %>"><%= option.get('name').first %>  <%= option.get('name').last %></option>
                <% }); %>
              </select>
			</dd>
			<dt><label for="customerDd">Project Customer :</label></dt><dd>

			  <select id="customerDd">
                <option selected="selected" value="">Select...</option>
                <% customersDdCollection.each(function(option){ %>
                <option value="<%= option.get('_id') %>"><%= option.get('name')%> (<%= option.get('type') %>)</option>
                <% }); %>
              </select>

			</dd>
		  </dl>
		</div>
        <div class="half-block left">
          <dl class="person-info">
			 <dt><label for="workflowNames">Workflow Name:</label></dt><dd>
            <select id="workflowNames">
             <% _.each(workflowNames, function(item){ %>
              <option><%= item %></option>
              <% }); %>
            </select>

		  </dd>
            
		    <dt><label for="workflow">Workflow:</label></dt><dd id="selectWorkflow">
		                                                                   
		    </dd>
			<dt><label for="usereditDd">Users Can Edit Project :</label></dt>
			<dd>
              <select id="usereditDd" size="3" multiple>
                <option selected="selected" value="">No one...</option>
                <% accountDdCollection.each(function(option){ %>
                <option value="<%= option.get('_id') %>"><%= option.get('name').first + ' ' + option.get('name').last%></option>
                <% }); %>
              </select>

			</dd>
		  </dl>
		</div>
        <div class="clearfix">
        </div>
      </div>
    </fieldset>
  </form>
</div>
