<div class="form-holder">
  <form method="post" action="" id="createProjectForm" class="form">
    <fieldset>
      <div class="inner">
        <div class="half-block left">
          <dl class="person-info">
			<dt><label for="projectName">Project Name :</label></dt><dd><input type="text" class="title-input blueback" name="projectName" id="projectName" required maxlength="64"/></dd>
			<dt><label for="projectShortDesc">Project Short Description :</label></dt><dd><input type="text" class="title-input blueback" name="projectShortDesc" id="projectShortDesc" required maxlength="64"/></dd>
			<dt><label for="projectManagerDD">Project Manager :</label></dt>
			<dd>
			  <select id="projectManagerDD">

              </select>
			</dd>
			<dt><label for="customerDd">Project Customer :</label></dt><dd>

			  <select id="customerDd">

              </select>

			</dd>
		  </dl>
		</div>
        <div class="half-block left">
          <dl class="person-info">
			 <dt><label for="workflowNamesDd">Workflow Name:</label></dt><dd>
            <select id="workflowNamesDd">

            </select>

		  </dd>
            
		    <dt><label for="workflowsDd">Workflow:</label></dt><dd id="selectWorkflow">
		        <select id="workflowsDd">

		        </select>
		    </dd>
			<dt><label for="usereditDd">Users Can Edit Project :</label></dt>
			<dd>
              <select id="userEditDd" size="3" multiple>

              </select>

			</dd>
		  </dl>
		</div>
        <div class="clearfix">
        </div>
      </div>
    </fieldset>
  </form>
</div>
