<div class="form-holder">
  <form method="post" action="" id="createProjectForm" class="form">
    <fieldset>
	  <div>
		<div class="inner">
          <ul class="dialog-tabs">
			<li><a class="active" href="javascript:;">Main</a></li>
			<li><a href="javascript:;">Assignees</a></li>
          </ul>
          <div class="clearfix"></div>
          <div class="dialog-tabs-items">
			<div class="dialog-tabs-item active">
			  <div class="half-block left">
				<dl class="profile-edit-info">
				  <dt><label for="projectName">Project Name </label></dt><dd><input type="text" class="title-input blueback" name="projectName" id="projectName" required maxlength="32"/></dd>
				  <dt><label for="projectShortDesc">Project Short Description </label></dt><dd><input type="text" class="title-input blueback" name="projectShortDesc" id="projectShortDesc" required maxlength="32"/></dd>
				  <dt><label for="projectManagerDD">Project Manager </label></dt>
				  <dd>
					<select id="projectManagerDD">

					</select>
				  </dd>

				</dl>
			  </div>
			  <div class="half-block left">
				<dl class="profile-edit-info">
				  <dt><label for="customerDd">Project Customer</label></dt><dd>

					<select id="customerDd">

					</select>

				  </dd>
				  <dt><label for="workflowNamesDd">Workflow Name</label></dt><dd>
					<select id="workflowNamesDd">

					</select>

				  </dd>
				  
				  <dt><label for="workflowsDd">Workflow</label></dt><dd id="selectWorkflow">
					<select id="workflowsDd">

					</select>
				  </dd>


				</dl>
			  </div>

			  <div class="clearfix"></div>
			</div>
			<div class="dialog-tabs-item">
			  <dl class="profile-edit-info">
				<dt><label for="allUsers">Owner</label></dt><dd>

				  <select id="allUsers">

				  </select>

				</dd>
			  </dl>
              <div class="clearfix">
              </div>
			  <div class="addUserAndGroup"><a href="javascript:;" class="addUser">Manage User</a> | <a href="javascript:;" class="addGroup">Manage Group</a></div>
              <div class="addUserDialog">

				<div class="formTitle">
				  <h3 class="left">Choose Users</h3>
				  <div class="clearfix"></div>
				</div>
                <ul id="sourceUsers" class="source">
                  
                </ul>

				<div class="left">
                  <button id="addUsers">add</button>
				  <br/>
                  <button id="removeUsers">remove</button>
				</div>
                <ul id="targetUsers" class="target">
                  
                </ul>

				<div class="clearfix"></div>
              </div>
              <div class="addGroupDialog">
				<div class="formTitle">
				  <h3 class="left">Choose Groups</h3>
				  <div class="clearfix"></div>
				</div>
                <ul id="sourceGroups" class="source">
                  
                </ul>

				<div class="left">
                  <button id="addUsersGroups">add</button>
				  <br/>
                  <button id="removeUsersGroups">remove</button>
				</div>
                <ul id="targetGroups" class="target">
                  
                </ul>
				<div class="clearfix"></div>
              </div>

			  <table class="groupsAndUser">
				<tr>
				  <th>Groups and Users</th><th></th>
				</tr>
			  </table>
			    <div class="clearfix"></div>
                <div>
                    <input type="radio" name="whoCanRW" value="everyOne" checked="checked"/>Everyone<br>
                    <input type="radio" name="whoCanRW" value="owner"/>Owner<br>
                    <input type="radio" name="whoCanRW" value="group"/>Owner, Users and Users in Groups
                </div>
			</div>
		  </div>
		  <div class="clearfix"></div>
		</div>
	  </div>
	</fieldset>
  </form>
</div>
