<div class="formHeader">
    <ul class="breadcrumb">
    </ul>
</div>
<div class="form-holder">
    <form method="post" action="" id="createProjectForm" class="form" data-id="<%=model._id%>">
        <fieldset>
            <div class="inner">
                <p>
                    <label for="projectName">Project Name</label>
                    <input type="text" class="title-input blueback" name="projectName" id="projectName" required value="<%=model.projectName%>"/>
                </p> 
                <div class="half-block left">
                    <div class="half-block left">
                        <p>
                            <label for="managerDd">Project Manager</label>
                        </p>
                        <p>
                            <label for="customerDd">Project Customer</label>
                        </p>
                    </div>
                    <div class="half-block left">
                        <p>
                            <select id="managerDd">
                                <option selected="selected" value="0">Select...</option>
                                <% accountsDdCollection.each(function(option){ %>
                                <option value="<%= option.get('_id') %>" <%= (option.get('_id') == model.projectmanager.id) ? 'selected' : ''%>><%= option.get('name').first %> <%= option.get('name').last %></option>
                                <% }); %>
                            </select>
                        </p>
                        <p>
                            <select id="customerDd">
                                <option selected="selected" value="0">Select...</option>
                                <% customersDdCollection.each(function(option){ %>
                                <option value="<%= option.get('_id') %>" <%= (option.get('_id') == model.customer.id) ? 'selected' : ''%> ><%= option.get('name').first %> <%= option.get('name').last %> (<%= option.get('type') %>)</option>
                                <% }); %>
                            </select>
                        </p>

                    </div>
                </div>
                <div class="half-block left">
                    <div class="half-block left">
                        <p>
                            <label for="workflowDd">Project Workflow</label>
                        </p>
                        <p>
                            <label for="usereditDd">Users Can Edit Project</label>
                        </p>
                    </div>
                    <div class="half-block left">
                        <p>
                            <select id="workflowDd">
                                <option selected="selected" value="0">Select...</option>
                                <% workflowsDdCollection.each(function(option){ %>
                                <option value="<%= option.get('_id') %>"  <%= (option.get('name') == model.workflow.name) ? 'selected' : ''%> ><%= option.get('name') %> (<%= option.get('status') %>)</option>
                                <% }); %>
                            </select>
                        </p>
                        <p>
                            <select id="usereditDd" size="3" multiple>
                                <option selected="selected" value="0">No one...</option>
                                <% accountsDdCollection.each(function(option){ %>
                                <option value="<%= option.get('_id') %>"><%= option.get('name').first%> <%= option.get('name').last %></option>
                                <% }); %>
                            </select>
                        </p>
                    </div>
                </div>
                <div class="clearfix"></div>
           
            
           
            </div>
        </fieldset>
    </form>
</div>