<div class="form-holder">
    <form method="post" action="" id="createDepartmentForm" class="form">
        <fieldset>
                <div class="half-block left">
                    <p><label for="departmentName">Department Name</label></p>
                    <p><label for="parentDepartment">Parent Department</label></p>
                    <p><label for="departmentManager">Manager</label></p>
                </div>
                <div class="half-block left">
                    <p><input type="text" class="title-input blueback" name="departmentName" id="departmentName" maxlength="64"/></p>
                    <p>
                        <select id="parentDepartment">
                        </select>
                    </p>
                    <p>
                        <select id="departmentManager">
                        </select>
                    </p>
                </div>
        </fieldset>
    </form>
</div>
