<div class="form-holder">
    <form method="post" action="" id="createDepartmentForm" class="form">
        <fieldset>
                <div class="half-block left">
                    <p><label for="departmentName">Department Name</label></p>
                    <p><label for="parentDepartment">Parent Department</label></p>
                    <p><label for="departmentManager">Manager</label></p>
                </div>
                <div class="half-block left">
                    <p><input type="text" class="title-input blueback" name="departmentName" id="departmentName" value="<%=model.departmentName%>"/></p>
                    <p>
                        <select id="parentDepartment">
                            <option selected="selected" value="0">Select...</option>
                             <% departmentsCollection.each(function(option){ %>
                                <option value="<%= option.get('_id') %>" <%=(option.get('_id')==model.parentDepartment.departmentId)? 'selected="selected"':''%>><%= option.get('departmentName')%></option>
                             <% }); %>
                        </select>
                    </p>
                    <p>
                        <select id="departmentManager">
                            <option selected="selected" value="0">Select...</option>
                             <% accountDdCollection.each(function(option){ %>
                                <option value="<%= option.get('_id') %>" <%= (option.get('_id') == model.departmentManager.uid) ? 'selected="selected"' : ''%>> <%= option.get('name').first %> <%= option.get('name').last %></option> 
                            <% }); %>
                        </select>
                    </p>
                </div>
        </fieldset>
    </form>
</div>
