<div class="inner">
    <div class="dropDown">
        <a href="#">
            <img hidden="hidden" src="./images/downCircleBlack.png" alt="Down" />
        </a>
        <ul class="dropDownOpened" hidden="hidden">
            <li>
                <a href="#" id="edit">Edit...</a>
            </li>
            <li>
                <a href="#" id="delete">Delete</a>
            </li>
            <!--<li>
                <ul class="colorPicker">
                    <li>
                        <a href="#" data-color="#1ABC9C" class="color_0"></a>
                    </li>
                    <li>
                        <a href="#" data-color="#2ECC71" class="color_1"></a>
                    </li>
                    <li>
                        <a href="#" data-color="#3498DB" class="color_2"></a>
                    </li>
                    <li>
                        <a href="#" data-color="#9B59B6" class="color_3"></a>
                    </li>
                    <li>
                        <a href="#" data-color="#34495E" class="color_4"></a>
                    </li>
                    <li>
                        <a href="#" data-color="#F1C40F" class="color_5"></a>
                    </li>
                    <li>
                        <a href="#" data-color="#F39C12" class="color_6"></a>
                    </li>
                    <li>
                        <a href="#" data-color="#E74C3C" class="color_7"></a>
                    </li>
                    <li>
                        <a href="#" data-color="#27AE60" class="color_8"></a>
                    </li>
                    <li>
                        <a href="#" data-color="#2980B9" class="color_9"></a>
                    </li>
                </ul>
            </li>-->
        </ul>
    </div>
    <div class="avatar"><a href="#" class = "gotoForm"><img src="<%=imageSrc%>" width="60" /></a></div>
    <div class="info">
        <a href="#" class = "gotoForm title"><%=name.first%></a>
        <p><%=address.city%><%=address.country%></p>       
    </div>
</div>
