<div class="formHeader">
    <button class="red" id="Done">
        <span>Done</span>
    </button>
    <button class="red" id="Cancel">
        <span>Cancel Task</span>
    </button>
    <ul class="breadcrumb"></ul>
</div>
<div class="form-holder">
    <form class="form" data-id="<%=_id%>">
        <div class="inner">
        <h2><%=summary%></h2>
            <div class="half-block left">
                <div class="half-block left">
                    <p>
                        <label>Project</label>
                    </p>
                    <p>
                        <label>Assigned to</label>
                    </p>
                    <p>
                        <label>Workflow</label>
                    </p>
                </div>
                <div class="half-block left">
                    <p><a id="<%=project.id%>" href="#"><%=project.name%></a></p>
                    <p><%=assignedTo.name%></p>
                    <p><%=workflow.name%></p>
                  
                </div>
            </div>
            <div class="half-block left">
                <div class="half-block left">
                     <p>
                        <label>Deadline</label>
                    </p>
                    <p>
                        <label>Tags</label>
                    </p>
                </div>
                <div class="half-block left">
                      <p><%=deadline%></p>
                      <p><%=tags%></p>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div id="tabs">
            <div>
                <ul id="tabList" class="inner">
                    <li>
                        <a href="#" class="selected">Description</a>
                    </li>
                    <li>
                        <a href="#">Extra Info</a>
                    </li>
                </ul>
            </div>
            <br />
            <div class="tab">
                <p>
                  
                    <span><%=description%></span>
                </p>
            </div>
            <div class="tab">
                <div class="half-block left">
                    <div class="half-block left">
                        <p><label for="priority">Priority</label></p>
                        <p><label for="sequence">Sequense</label></p>
                        <p><label for="customerDd">Customer</label></p>
                        <p><label for="loged">Logged</label></p>
                    </div>
                    <div class="half-block left">
                        <p><span><%=extrainfo.priority%></span></p>
                        <p><span><%=extrainfo.sequence%></span></p>
                        <p><span><%=extrainfo.customer.name%></span></p>
                        <p><span><%=extrainfo.loged%></span></p>
                    </div>
                </div>
                <div class="half-block left">
                    <div class="half-block left">
                        <p><label for="estimated">Estimated</label></p>
                        <p><label for="StartDate">Starting Date </label></p>
                        <p><label for="EndDate">Ending Date </label></p>
                    </div>
                    <div class="half-block left">
                        <p><span><%=extrainfo.estimated%></span></p>
                        <p><span><%=extrainfo.StartDate%></span></p>
                        <p><span><%=extrainfo.EndDate%></span></p>
                    </div>
                </div>
                <div class="clearfix"></div>
           
           
            </div>
        </div>
    </form>
</div>
