<div class="formHeader">
    <button class="red" id="Done">
        <span>Done</span>
    </button>
    <button class="red" id="Cancel">
        <span>Cancel Task</span>
    </button>
    <ul class="breadcrumb"></ul>
</div>
<div class="form-holder">
    <form class="form" data-id="<%=_id%>">
        <h2><%=summary%></h2>
        <!--<div class="half-block left">
            <div class="half-block left">-->
        <p>
            <label>Project</label>
        </p>
        <p>
            <label>Assigned to</label>
        </p>
        <p>
            <label>Workflow</label>
        </p>
        <p>
            <label>Deadline</label>
        </p>
        <p>
            <label>Tags</label>
        </p>
        <!--</div>
        <div class="half-block left">-->
        <p><a id="<%=project.id%>" href="#"><%=project.name%></a></p>
        <p><%=assignedTo.name%></p>
        <p><%=workflow.name%></p>
        <p><%=deadline%></p>
        <p><%=tags%></p>
        <!--  </div>
        </div>-->
        <div id="tabs">
            <div>
                <ul id="tabList">
                    <li>
                        <a href="#" class="selected">Description</a>
                    </li>
                    <li>
                        <a href="#">Extra Info</a>
                    </li>
                </ul>
            </div>
            <br />
            <div class="tab">
                <p>
                    <label for="description">Description </label>
                    <span><%=description%></span>
                </p>
            </div>
            <div class="tab">
                <p>
                    <label for="priority">Priority </label>
                    <span><%=extrainfo.priority%></span>
                </p>
                <p>
                    <label for="sequence">Sequense </label>
                    <span><%=extrainfo.sequence%></span>
                </p>
                <p>
                    <label for="customerDd">Customer</label>
                    <span><%=extrainfo.customer.name%></span>
                </p>
                <p>
                    <label for="loged">Logged</label>
                    <span><%=extrainfo.loged%></span>
                </p>
                <p>
                    <label for="estimated">Estimated</label>
                    <span><%=extrainfo.estimated%></span>
                </p>
                <p>
                    <label for="StartDate">Starting Date </label>
                    <span><%=extrainfo.StartDate%></span>
                </p>
                <p>
                    <label for="EndDate">Ending Date </label>
                    <span><%=extrainfo.EndDate%></span>
                </p>
            </div>
        </div>
    </form>
</div>
