<div class="form-holder">
    <form class="form" id="employeeForm">
        <div class="inner">
            <div class="avatar">
                <img alt="" src="<%=imageSrc%>" />
            </div>
            <div style="margin-left: 130px; width: 80%; display: block;">
                <div class="half-block left">
                    <h2><%=name.first%> <%=name.last%></h2>
                </div>
                <p><label>Tags</label></p>
                <p><span><%=tags%></span></p>
            </div>
            <div class="clearfix"></div>
        </div>
        <div id="tabs">
            <div>
                <ul id="tabList" class="inner">
                    <li>
                        <a href="#" class="selected">Public Information</a>
                    </li>
                    <li>
                        <a href="#">Personal Information</a>
                    </li>
                    <li>
                        <a href="#">HR Settings</a>
                    </li>
                </ul>
                <br />
            </div>
            <div class="tab">
                <h2>Contact Information</h2>
                <div class="half-block left">
                    <div class="half-block left">
                        <p><label>Work Address </label></p>
                        <p><label></label></p>
                        <p><label></label></p>
                        <p><label> </label></p>
                        <p><label> </label></p>

                    </div>
                    <div class="half-block left">
                        <p><span><%=workAddress.street%></span></p>
                        <p><span><%=workAddress.city%></span></p>
                        <p><span><%=workAddress.state%></span></p>
                        <p><span><%=workAddress.zip%></span></p>
                        <p><span><%=workAddress.country%></span></p>
                    </div>
                </div>

                <div class="half-block left">
                    <div class="half-block left">
                        <p><label>Work Email </label></p>
                        <p><label>Skype </label></p>
                        <p><label>Work Phone </label></p>
                        <p><label>Work Mobile </label></p>
                        <p><label>Office Location </label></p>
                        <p></p>
                    </div>
                    <div class="half-block left">
                        <p><span><a href="mailto:<%=workEmail%>" target="_blank"><%=workEmail%></a></span></p>
                        <p><span><%=skype%></span></p>
                        <p><span><%=workPhones.phone%></span></p>
                        <p><span><%=workPhones.mobile%></span></p>
                        <p><span><%=officeLocation%></span></p>
                    </div>
                </div>
                <div class="half-block left">
                    <p></p>
                    <div class="half-block left">
                        <p><label>Related User </label></p>
                        <p><label>Visibility </label></p>
                    </div>
                    <div class="half-block left">
                        <p><span><%=relatedUser.login%></span></p>
                        <p><span><%=visibility%></span></p>
                    </div>
                </div>
                <div class="half-block left">
                    <h2>Position</h2>
                    <div class="half-block left">
                        <p><label>Department </label></p>
                        <p><label>Job </label></p>
                        <p><label>Manager </label></p>
                        <p><label>Coach </label></p>
                    </div>
                    <div class="half-block left">
                        <p><span><%=department.name%></span></p>
                        <p><span><%=jobPosition.name%></span></p>
                        <p><span><%=manager.name%></span></p>
                        <p><span><%=coach.name%></span></p>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="tab">
                <div class="half-block left">
                    <h2>Citizenship & Other Info</h2>
                    <div class="half-block left">
                        <p><label>Natinality </label></p>
                        <p><label>Identification No </label></p>
                        <p><label>Passport No </label></p>
                        <p><label>Bank Account Number </label></p>
                        <p><label>Other Id </label></p>
                    </div>
                    <div class="half-block left">
                        <p><span><%=nationality%></span></p>
                        <p><span><%=identNo%></span></p>
                        <p><span><%=passportNo%></span></p>
                        <p><span><%=bankAccountNo%></span></p>
                        <p><span><%=otherId%></span></p>
                    </div>
                </div>
                <div class="half-block left">
                    <h2>Contact Information</h2>
                    <div class="half-block left">
                        <p><label>Home Address </label></p>
                        <p><label></label></p>
                        <p><label></label></p>
                        <p><label></label></p>
                        <p><label></label></p>
                    </div>
                    <div class="half-block left">
                        <p> <span><%=homeAddress.street%></span></p>
                        <p><span><%=homeAddress.city%></span></p>
                        <p><span><%=homeAddress.state%></span></p>
                        <p><span><%=homeAddress.zip%></span></p>
                        <p> <span><%=homeAddress.country%></span></p>
                    </div>
                </div>
                <div class="half-block left">
                    <h2>Status</h2>
                    <div class="half-block left">
                        <p><label>Gender </label></p>
                        <p><label>Marital Status</label></p>
                    </div>
                    <div class="half-block left"></div>
                </div>
                <div class="half-block left">
                    <h2>Birth</h2>
                    <div class="half-block left">
                        <p><label>Date Of Birth </label></p>
                    </div>
                    <div class="half-block left">
                        <p><span><%=dateBirth%></span></p>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="tab">
                <h2>Active</h2>
                <div class="half-block left">
                    <div class="half-block left">
                        <p><label>Active </label></p>
                    </div>
                    <div class="half-block left">
                        <p>
                            <input type="checkbox"><%=(active)? "checked='checked'":''%> name="active" id="active" />
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
