<div class="formHeader">
    <ul class="endContractReasonList" style="display: block;">
        <li>
            <a href="#">Fired</a>
        </li>
        <li>
            <a href="#">Personal Issues</a>
        </li>
        <li>
            <a href="#">End contract</a>
        </li>
        <li>
            <a href="#">Other</a>
        </li>
    </ul>
</div>
<div class="form-holder">
  <form class="form" id="employeeForm" data-id="<%=_id%>">
	<div class="half-block left">
	  <dl class="person-info">
		<dt>First Name </dt><dd><%=name.first%></dd>
		<dt>Last Name </dt><dd><%=name.last%></dd>
		<dt>Tags </dt><dd><span><%=tags%></span></dd>
        <dt>Gender</dt><dd><span><%=gender%></span></dd>
        <dt>Martial status</dt><dd><span><%=martial%></span></dd>
        <dt>Created By </dt><dd><%=createdBy.user ?  createdBy.user.login + " (" + createdBy.date +  ")" : " "%></dd>
		<dt>Edited By </dt><dd><%=editedBy.user ?  editedBy.user.login + " (" + editedBy.date +  ")" : " "%></dd>
	  </dl>
	</div>
	<div class="half-block left">
      <div class="avatar">
        <img alt="" src="<%=imageSrc%>" />
      </div>
	</div>
    <div class="clearfix">
    </div>
	<ul class="chart-tabs">
	  <li><a class="active" href="javascript:;">Public Information</a></li>
	  <li><a href="javascript:;" class="">Personal Information</a></li>
	</ul>
	<div class="clearfix"></div>
	<div class="chart-tabs-items">
	  <div class="chart-tabs-item active">
		<div class="half-block left withPaddingLeft">
		  <dl class="person-info">
			<dt>Work Address </dt>
			<% if(workAddress.street){%>
			<dd><%=workAddress.street%></dd>
			<dt>&nbsp;</dt>
			<%}%>
			<% if(workAddress.city){%>
			<dd><%=workAddress.city%></dd>
			<dt>&nbsp;</dt>
			<%}%>
			<% if(workAddress.state){%>
			<dd><%=workAddress.state%></dd>
			<dt>&nbsp;</dt>
			<%}%>
			<% if(workAddress.zip){%>
			<dd><%=workAddress.zip%></dd>
			<dt>&nbsp;</dt>
			<%}%>
			<dd><%=workAddress.country%></dd>
			<dt>Related User </dt><dd><%=(relatedUser) ? relatedUser.login : ''%></dd>
			<dt>Visibility </dt><dd><%=visibility%></dd>
		  </dl>
		</div>
		<div class="half-block left withPaddingLeft">
		  <dl class="person-info">
			<dt>Work Email </dt><dd><a href="mailto:<%=workEmail%>" target="_blank"><%=workEmail%></a></dd>
			<dt>Personal Email </dt><dd><a href="mailto:<%=personalEmail%>" target="_blank"><%=personalEmail%></a></dd>
			<dt>Skype </dt><dd><a href="skype:<%=skype%>?call"><%=skype%></a></dd>
			<dt>Work Phone </dt><dd><a href="skype:<%=workPhones.mobile%>?call"><%=workPhones.phone%></a></dd>
			<dt>Work Mobile </dt><dd><a href="skype:<%=workPhones.mobile%>?call"><%=workPhones.mobile%></a></dd>
			<dt>Office Location </dt><dd><%=officeLocation%></dd>
			<dt>Department </dt><dd><%=(department) ? department.departmentName : ''%></dd>
			<dt>Job </dt><dd><%=(jobPosition) ? jobPosition.name : ''%></dd>
			<dt>Manager </dt><dd><%=(manager) ? manager.name.first + " " + manager.name.last : ''%></dd>
			<dt>Coach </dt><dd><%=(coach) ? coach.name.first + " " + coach.name.last : ''%></dd>
		  </dl>
		</div>
	  </div>
	  <div class="chart-tabs-item">
		
		<div class="half-block left withPaddingLeft">
		  <div class="formTitle">
			<h3 class="left"><legend>Citizenship &amp; Other Info</legend></h3>
			<div class="clearfix"></div>
		  </div>

		  <dl class="person-info">
			<dt>Natinality </dt><dd><%=nationality%></dd>
			<dt>Identification № </dt><dd><%=identNo%></dd>
			<dt>Passport № </dt><dd><%=passportNo%></dd>
			<dt>Bank Account Number </dt><dd><%=bankAccountNo%></dd>
			<dt>Other Id </dt><dd><%=otherId%></dd>
		  </dl>
		  <div class="clearfix"></div>
		</div>
		<div class="half-block left withPaddingLeft">
		  <div class="formTitle">
			<h3 class="left"><legend>Contact Information</legend></h3>
			<div class="clearfix"></div>
		  </div>

		  <dl class="person-info">
			<dt>Home Address </dt><dd><%=homeAddress.street%></dd>
			<dt>&nbsp;</dt><dd><%=homeAddress.city%></dd>
			<dt>&nbsp;</dt><dd><%=homeAddress.state%></dd>
			<dt>&nbsp;</dt><dd><%=homeAddress.zip%></dd>
			<dt>&nbsp;</dt><dd><%=homeAddress.country%></dd>
		  </dl>
		  <div class="clearfix"></div>
		</div>
		<div class="clearfix"></div>
		<div class="half-block left withPaddingLeft">
	      <div class="formTitle">
			<h3 class="left"><legend>Status</legend></h3>
			<div class="clearfix"></div>
		  </div>
		  <dl class="person-info">
			<dt>Gender </dt><dd>&nbsp;</dd>
			<dt>Marital Status </dt><dd>&nbsp;</dd>
		  </dl>
		</div>
		<div class="half-block left withPaddingLeft">
	      <div class="formTitle">
			<h3 class="left"><legend>Birth</legend></h3>
			<div class="clearfix"></div>
		  </div>

		  <dl class="person-info">
			<dt>Date Of Birth </dt><dd><%=(dateBirth) ? dateBirth : "" %></dd>
		  </dl>		  

		</div>

		<div class="clearfix"></div>
		<div class="formTitle">
		  <h3 class="left"><legend>HR Settings</legend></h3>
		  <div class="clearfix"></div>
		</div>
		<div class="half-block left withPaddingLeft">
	      <div class="formTitle">
			<h3 class="left"><legend>Active</legend></h3>
			<div class="clearfix"></div>
		  </div>
		  <dl class="person-info">
			<dt>Active </dt><dd><input type="checkbox" <%=(active)? "checked='checked'":''%> name="active" id="active" disabled /></dd>
		  </dl>	  
		  
		</div>
	  </div>
      <div class="clearfix"></div>
  </form>
  </div>
