<div class="formHeader">
    <button id="won" class="red">Mark Won</button>
    <button id="lost" class="red">Mark Lost</button>
    <ul class="breadcrumb">
    </ul>
</div>
<div class="form-holder">
    <form class="form" id="leadForm" data-id="<%=_id%>">
        <h2><%=name%></h2>
        <h2><%=expectedRevenue.value%> <%=expectedRevenue.currency%> at <%=expectedRevenue.progress%>%</h2>

        <p>
            <label>Email</label>
            <span><%=email%></span>
        </p>
        <p>
            <label>Phone</label>
            <span><%=phones.phone%></span>
        </p>
        <p>
            <label>Salesperson</label>
            <span><%=salesPerson.name%></span>
        </p>
        <p>
            <label>Sales Team</label>
            <span><%=salesTeam.name%></span>
        </p>
        <p>
            <label>Next Action</label>
            <span><%=nextAction.date%> - <%=nextAction.desc%></span>
        </p>
        <p>
            <label>Expected Closing</label>
            <span><%=expectedClosing%></span>
        </p>
        <p>
            <label>Priority</label>
            <span><%=priority%></span>
        </p>
        <p>
            <label>Categories</label>
        </p>
        <div id="tabs">
            <div>
                <ul id="tabList">
                    <li>
                        <a href="#" class="selected">Internal Notes</a></li>
                    <li>
                        <a href="#">Lead</a></li>
                </ul>
            </div>
            <div class="tab">
                <textarea id="internalNotes"><%=internalNotes%></textarea>
            </div>
            <div class="tab">
                <p>
                    <label>Customer Name</label>
                    <span><%=contactName.first%> <%=contactName.last%></span>>
                </p>
                <p>
                    <label>Address</label>
                    <span><%=address.street%></span>
                    <span><%=address.city%></span>
                    <span><%=address.state%></span>
                    <span><%=address.zip%></span>
                    <span><%=address.country%></span>
                </p>
                <p>
                    <label>Contact Name</label>
                    <span><%=contactName.first%> <%=contactName.last%></span>
                </p>
                <p>
                    <label>Function</label>
                    <span><%=func%></span>
                </p>
                <p>
                    <label>Mobile</label>
                    <span><%=phones.mobile%></span>
                </p>
                <p>
                    <label>Fax</label>
                    <span><%=phones.fax%></span>
                </p>
                <h3>Misc</h3>
                <p>
                    <label>Active</label>
                    <input type="checkbox" <%= (active)? checked='checked':''%> id="active" />
                </p>
                <p>
                    <label>Days To Open</label>
                    <span>0.00</span>
                </p>
                <p>
                    <label>Days To Close</label>
                    <span>0.00</span>
                </p>
                <p>
                    <label>Referred By</label>
                    <span><%=reffered%></span>
                </p>
                <h3>Mailings</h3>
                <p>
                    <label>Opt-Out</label>
                    <input type="checkbox" <%= (optout)? checked='checked':''%> id="optout" />
                </p>
            </div>
        </div>
    </form>
</div>

