
    <% applicationsCollection.forEach(function(application, index){ %>
        <tr data-index="<%= index + 1 %>" data-id="<%=application._id%>">
            <td class = "notForm"><input type="checkbox" value="<%=application._id%>" class="checkbox" /></td>
            <td><%= index + 1 %></td>
            <!-- <td><%=application.creationDate%></td> -->
            <!--<td><%=application.subject%></td>-->
            <td><%=application.name.first%> <%=application.name.last%></td>
            <td><%=application.personalEmail%></td>
            <td class = "notForm"><a href="skype:<%=application.workPhones.phone%>?call"><%=application.workPhones.phone%></a></td>
            <td><%=(application.jobPosition) ? application.jobPosition.name : ''%></td>
			<td id='<%=application._id%>'>
			  <a href="javascript:;" class="stageSelect"><%=(application.workflow) ? application.workflow.name : ''%></a>
			</td>
            <td><%=(application.relatedUser) ? application.relatedUser.login : ''%></td>
            <td><%=(application.createdBy && application.createdBy.user) ? application.createdBy.user.login + " (" + application.createdBy.date + ")" : ''%></td>
            <td><%=(application.editedBy.user) ? application.editedBy.user.login + " (" + application.editedBy.date + ")" : ''%></td>
        </tr>
    <% }) %>
