<div>
  <div class="filterButton">Filter By</div>
  <ul class="filter-check-list">
	
  </ul>
<!--        <div class="filter-check-list">
            <label>
                <div>
                    <span>
                        <input class="checker" value="528ce553f3f67bc40b000017" type="checkbox">
                    </span>
                </div>
                Second Interview
            </label>
            <label>
                <div>
                    <span>
                        <input class="checker" value="528ce61bf3f67bc40b000019" type="checkbox" >
                    </span>
                </div>
                Contract Signed
            </label>
            <label>
                <div >
                    <span>
                        <input class="checker" value="528ce682f3f67bc40b00001a" type="checkbox">
                    </span>
                </div>
                Refused
            </label>
            <a href="#"  id="do-filter">GO</a>
        </div>-->
    <table class="list task-list">
    <thead>
    <tr>
        <th>
            <input type="checkbox" id="check_all" /></th>
        <th>N</th>
        <th>Creation Date</th>
        <th>Applicant's Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Applied Job</th>
        <th>Stage</th>
        <th>Responsible</th>
        <th>Created By</th>
        <th>Edited By</th>
    </tr>
    </thead>
    <tbody id="listTable"></tbody>
</table>
    <div class="pagination">
      <div class="countOnPage">
		<div>
          <span>
            <span id="grid-start"></span>
            -
            <span id="grid-end"></span>
            of
            <span id="grid-count"></span>
            items
          </span>
		</div>
        <div class="pageList">
          <button id="itemsButton">
            <span id="itemsNumber"></span>
          </button>
          <ul class="allNumberPerPage">
            <li>
              <a class="itemsNumber" href="#">5</a>
            </li>
            <li>
              <a class="itemsNumber" href="#">10</a>
            </li>
            <li>
              <a class="itemsNumber" href="#">20</a>
            </li>
            <li>
              <a class="itemsNumber" href="#">50</a>
            </li>
            <li>
              <a class="itemsNumber" href="#">100</a>
            </li>
          </ul>
        </div>
        <span>Per Page</span>
      </div>
      <div class="nextPrev">
		<div>
          <button id="previousPage" type="button"><</button>
        <span>Page</span>
		</div>
        <div>
          <div>
			<div>
              <input id="currentShowPage" type="text">
			</div>
            <div class="allPage">
              <button class="currentPageList">
                <i class="caret"></i>
              </button>
              <ul id="pageList" class="allNumberPerPage">
              </ul>
            </div>
          </div>
        </div>
        <span>
          of
          <span id="lastPage"></span>
        </span>
        <button  id="nextPage" type="button">></button>
      </div>
    </div>
</div>
