<div>
  <div class="filterButton">
    <span class="text">Stage</span>
    <div class="arrow">
	  7
    </div>
  </div>
  <ul class="filter-check-list">
  </ul>
    <table class="list task-list">
    <thead>
    <tr>
        <th>
            <input type="checkbox" id="check_all" /></th>
        <th>N</th>
        <!--  <th>Creation Date</th>-->
        <th>Applicant's Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Applied Job</th>
        <th>Stage</th>
        <th>Job Type</th>
        <th>Created By</th>
        <th>Edited By</th>
    </tr>
    </thead>
    <tbody id="listTable"></tbody>
</table>
    <div class="pagination">
      <div class="countOnPage">
		<div>
          <span>
            <span id="grid-start"></span>
            -
            <span id="grid-end"></span>
            of
            <span id="grid-count"></span>
            items
          </span>
		</div>
        <div class="pageList">
          <button id="itemsButton">
            <span id="itemsNumber"></span>
          </button>
          <ul class="allNumberPerPage">
            <li>
              <a class="itemsNumber" href="javascript;">5</a>
            </li>
            <li>
              <a class="itemsNumber" href="javascript;">10</a>
            </li>
            <li>
              <a class="itemsNumber" href="javascript;">20</a>
            </li>
            <li>
              <a class="itemsNumber" href="javascript;">50</a>
            </li>
            <li>
              <a class="itemsNumber" href="javascript;">100</a>
            </li>
          </ul>
        </div>
        <span>Per Page</span>
      </div>
      <div class="nextPrev">
		<div>
          <button id="previousPage" type="button"></button>
		  <div>
			<span>Page</span>
		  </div>
		</div>
        <div>
          <div>
			<div>
              <input id="currentShowPage" type="text">
			</div>
            <div class="allPage">
              <button class="currentPageList">
                <i class="caret"></i>
              </button>
              <ul id="pageList" class="allNumberPerPage">
              </ul>
            </div>
          </div>
        </div>
		<div>
        <span>
          of
          <span id="lastPage"></span>
        </span>
		</div>
        <button  id="nextPage" type="button"></button>
      </div>
    </div>
</div>
