
    <% applicationsCollection.forEach(function(application, index){ %>
        <tr data-index="<%= index + 1 %>" data-id="<%=application._id%>">
            <td><input type="checkbox" value="<%=application._id%>" class="checkbox" /></td>
            <td><%= index + 1 %></td>
            <td><%=application.creationDate%></td>
            <td><%=application.subject%></td>
            <td><%=application.name.first%> <%=application.name.last%></td>
            <td><%=application.workEmail%></td>
            <td><%=application.workPhones.mobile%></td>
            <td><%=(application.jobPosition) ? application.jobPosition.name : ''%></td>
            <td><%=(application.workflow) ? application.workflow.name : ''%></td>
            <td><%=(application.relatedUser) ? application.relatedUser.login : ''%></td>
            <td><%=(application.createdBy.user) ? application.createdBy.user.login + " (" + application.createdBy.date + ")" : ''%></td>
            <td><%=(application.editedBy.user) ? application.editedBy.user.login + " (" + application.editedBy.date + ")" : ''%></td>
        </tr>
    <% }) %>
