<div class="form-holder">
    <form class="form">
        <div class="inner">
            <div class="avatar">
                <img class="person" width="120" height="120" />
            </div>
            <div style="margin-left: 130px; width: 80%; display: block;">
           
                <div class="half-block left">
                    <div class="half-block left">
                        <p><label>Email</label></p>
                        <p><label>Profile</label></p>
                    </div>
                    <div class="half-block left">
            
                    </div>

                </div>
            </div>
            <div class="clearfix"></div>
        </div>

    </form>
</div>
