
<% jobPositionsCollection.forEach(function(jobPosition, index){ %>
<tr data-index="<%= index %>" data-id="<%=jobPosition._id%>">
    <td class = "notForm"><input type="checkbox" value="<%=jobPosition._id%>" class="checkbox"/></td>
    <td><%=startNumber + index +1 %></td>
    <td><%=jobPosition.name%></td>
    <td><%= (jobPosition.department) ? jobPosition.department.departmentName : ''%> </td>
    <td><%=jobPosition.totalForecastedEmployees%></td>
    <td><%=jobPosition.numberOfEmployees%></td>
    <td><%=jobPosition.expectedRecruitment%></td>
    <td id='stages_<%=jobPosition._id%>'>
        <a href="javascript:;" class="stageSelect"><%=(jobPosition.workflow) ? jobPosition.workflow.name : ''%></a>
    </td>
    <td><%=(jobPosition.createdBy&&jobPosition.createdBy.user) ? jobPosition.createdBy.user.login + " (" + jobPosition.createdBy.date + ")" : ''%></td>
    <td><%=(jobPosition.editedBy&&jobPosition.editedBy.user) ? jobPosition.editedBy.user.login + " (" + jobPosition.editedBy.date + ")" : ''%></td>
</tr>
<% }) %>
