<div class="formTitle">
    <h3 class="left">Opportunities</h3>
    <div class="btnHolder">
        <a href="#" class="icon-img add opportunities" title="Add"></a>
    </div>
    <div class="clearfix"></div>
</div>
<div id="opportunities" class="scroll">
    <ul class="compactList">
        <% _.each(collection, function(model, index){ %>
		
		<% if (company && (company.type == 'Person')) { %>
	        <% if (model.customer && (model.customer._id == company._id)){ %>
	        <li class="inner">
	            <div class="half-block left">
	                <p>
	                    <a id="<%=model._id%>" href="#">
	                        <%=model.name%>
	                    </a>
	                </p>
	                <p>
	                    <%=model.expectedRevenue.currency%><%=model.expectedRevenue.value%>
	                </p>
	
	            </div>
	            <div class="half-block left">
	                <p>
						<%=model.nextAction.date%>
					</p>
	                <p>
	                    <%=model.workflow.name%>
	                </p>
	            </div>
	            <div class="clearfix"></div>          
	        </li>
	    	<% }%>   
	    	<% }%>  
	  <% if (company && (company.type == 'Company')) { %>
	    <% if (model.customer && (model.customer._id == company._id)){ %>
	        <li class="inner">
	            <div class="half-block left">
	                <p>
	                    <a id="<%=model._id%>" href="#">
	                        <%=model.name%>
	                    </a>
	                </p>
	                <p>
	                    <%=model.expectedRevenue.currency%><%=model.expectedRevenue.value%>
	                </p>
	
	            </div>
	            <div class="half-block left">
	                <p>
						<%=model.nextAction.date%>
					</p>
	                <p>
	                    <%=model.workflow.name%>
	                </p>
	            </div>
	            <div class="clearfix"></div>          
	        </li>
	        
	    	<% }%>   
	    	
	   <% _.each(personsCollection, function(personsCollection, index){ %>
	    <% if (personsCollection.company && (personsCollection.company._id == company._id)&&(model.customer._id == personsCollection._id)) { %>
	        <li class="inner">
	            <div class="half-block left">
	                <p>
	                    <a id="<%=model._id%>" href="#">
	                        <%=model.name%>
	                    </a>
	                </p>
	                <p>
	                    <%=model.expectedRevenue.currency%><%=model.expectedRevenue.value%>
	                </p>
	
	            </div>
	            <div class="half-block left">
	                <p>
						<%=model.nextAction.date%>
					</p>
	                <p>
	                    <%=model.workflow.name%>
	                </p>
	            </div>
	            <div class="clearfix"></div>          
	        </li>
	        
	    	<% }%>   
        <% });%>       
        <% }%> 
        <% });%>
    </ul>
    <div class="clearfix"></div>
</div>