<div class="form-holder">

  <form method="post" action="" id="leadForm" class="form notDialog">
    <div class="inner">
      <div class="half-block left">
		<dl class="opp-info">
		  <dt><label for="name">Subject</label></dt><dd><input type="text" class="title-input blueback" id="name" required maxlength="32"/></dd>
		  <dt><label for="expectedRevenueValue">Expected Revenue</label></dt><dd><input type="text" id="expectedRevenueValue" value="0.00" maxlength="32"/> at</dd>
		  <dt>&nbsp;</dt><dd><input type="text" id="expectedRevenueProgress" value="0" maxlength="32"/>%</dd>
		  <dt><label for="customerDd">Customer</label></dt><dd><select id="customerDd"></select></dd>
		  <dt><label for="email">Email</label></dt><dd><input type="email" id="email" maxlength="32"/></dd>
		  <dt><label for="phone">Phone</label></dt><dd><input type="text" id="phone" maxlength="32"/></dd>
		</dl>
	  </div>        
      <div class="half-block left">
		<dl class="opp-info">
		  <dt><label for="workflowNamesDd">Workflow Names</label></dt><dd><select id="workflowNamesDd"></select></dd>
		  <dt><label for="workflowDd">Workflow</label></dt><dd id="selectWorkflow"><select id="workflowDd"></select></dd>

		  <dt><label for="salesPersonDd">Salesperson</label></dt><dd><select id="salesPersonDd"></select></dd>
		  <dt><label for="salesTeamDd">Sales Team</label></dt><dd><select id="salesTeamDd"></select></dd>
		  <dt><label for="nextActionDate">Next Action</label></dt><dd><input type="text" id="nextActionDate" maxlength="32"/></dd>
		  <dt>&nbsp;</dt><dd><input type="text" id="nextActionDescription" placeholder="Next Action Description" maxlength="32"/></dd>
		  <dt><label for="expectedClosing">Expected Closing</label></dt><dd><input type="text" id="expectedClosing" maxlength="32"/></dd>
		  <dt><label for="priorityDd">Priority</label></dt><dd><select id="priorityDd"></select></dd>
		</dl>
	  </div>      
      <div class="clearfix">
      </div>

      <div class="half-block left withPaddingLeft">
		<div class="formTitle">
		  <h3 class="left">Lead</h3>
		  <div class="clearfix"></div>
		</div>
		<dl class="opp-info">
		  <dt><label for="company">Company Name</label></dt><dd><input type="text" id="company" /></dd>
		  <dt><label for="street">Address</label></dt><dd><input type="text" class="address" id="street" name="street" placeholder="Street" maxlength="32"/></dd>
		  <dt>&nbsp;</dt><dd><input type="text" class="address" id="city" name="city" placeholder="City" maxlength="32"/></dd>
		  <dt>&nbsp;</dt><dd><input type="text" class="address" id="state" name="state" placeholder="State" maxlength="32"/></dd>
		  <dt>&nbsp;</dt><dd><input type="text" class="address" id="zip" name="zip" placeholder="ZIP" maxlength="32"/></dd>
		  <dt>&nbsp;</dt><dd><input type="text" class="address" id="country" name="country" placeholder="Country" maxlength="32"/></dd>
		</dl>
	  </div>
      <div class="half-block left withPaddingLeft">
		<div class="formTitle">
		  <h3 class="left">Internal Notes</h3>
		  <div class="clearfix"></div>
		</div>
		<textarea id="internalNotes"></textarea>
	  </div>
	  <div class="clearfix"></div>
      <div class="half-block left withPaddingLeft">
		<div class="formTitle">
		  <h3 class="left">Mailings</h3>
		  <div class="clearfix"></div>
		</div>
		<dl class="opp-info">
		  <dt><label>Opt-Out</label></dt><dd><input type="checkbox" id="optout" /></dd>
		  <dt><label for="contactName">Contact Name</label></dt><dd><input type="text" class="name" id="first" placeholder="First" disabled maxlength="32"/></dd>
		  <dt>&nbsp;</dt><dd><input type="text" class="name" id="last" placeholder="Last" disabled maxlength="32"/></dd>
		  <dt><label for="func">Function</label></dt><dd><input type="text" id="func" maxlength="32"/></dd>
		  <dt><label for="mobile">Mobile</label></dt><dd><input type="text" id="mobile" maxlength="32" maxlength="32"/></dd>
		  <dt><label for="name">Fax</label></dt><dd><input type="text" id="fax" maxlength="32"/></dd>

		</dl>
	  </div>
      <div class="half-block left withPaddingLeft">
		<div class="formTitle">
		  <h3 class="left">Misc</h3>
		  <div class="clearfix"></div>
		</div>
		<dl class="opp-info">
		  <dt><label>Active</label></dt><dd><input type="checkbox" checked="checked" id="active" /></dd>
		  <dt><label>Referred By</label></dt><dd><input type="text" id="reffered" maxlength="32"/></dd>

		</dl>
	  </div>
      <div class="clearfix">
      </div>
	</div>
  </form>
</div>
