<div class="form-holder">

    <form method="post" action="" id="leadForm" class="form">
        <fieldset>
            <div class="inner">
                <p>
                    <label for="name">Subject </label>
                    <input type="text" class="title-input blueback" id="name" required />
                </p>
                <div class="half-block left">
                    <div class="half-block left"></div>
                    <div class="half-block left"></div>
                </div>

                <p>
                    <label for="expectedRevenueValue">Expected Revenue</label>
                    <input type="text" id="expectedRevenueValue" value="0.00" />
                    at
                    <input type="text" id="expectedRevenueProgress" value="0" />%
                </p>
                <p>
                    <label for="customer">Customer</label>
                    <select id="customer">
                        <option selected="selected" value="0">Select...</option>
                        <% customersCollection.each(function(option){ %>

                        <option value="<%= option.get('_id') %>"><%= option.get('name')%></option>
                        <% }); %>

                    </select>
                </p>
                <p>
                    <label for="email">Email </label>
                    <input type="email" id="email" />
                </p>
                <p>
                    <label for="phone">Phone </label>
                    <input type="text" id="phone" />
                </p>

                <p>
                    <label for="workflowNames">Workflow Names </label>
                    <select id="workflowNames">
                        <% _.each(workflowNames, function(item){ %>
                    <option><%= item %></option>
                        <%}); %>
                    </select>
                </p>

                <p id="selectWorkflow">
                </p>

                <p>
                    <label for="salesPerson">Salesperson</label>
                    <select id="salesPerson">
                        <option selected="selected" value="0">Select...</option>
                        <% employeesCollection.each(function(option){ %>

                        <option value="<%= option.get('_id') %>"><%= option.get('name').first %> <%= option.get('name').last %></option>
                        <% }); %>

                    </select>
                </p>
                <p>
                    <label for="salesTeam">Sales Team</label>
                    <select id="salesTeam">
                        <option selected="selected" value="0">Select...</option>
                        <% departmentsCollection.each(function(option){ %>

                        <option value="<%= option.get('_id') %>"><%= option.get('departmentName')%></option>
                        <% }); %>

                    </select>
                </p>
                <p>
                    <label for="nextActionDate">Next Action </label>
                    <input type="text" id="nextActionDate" />
                    <input type="text" id="nextActionDescription" placeholder="Next Action Description" />
                </p>
                <p>
                    <label for="expectedClosing">Expected Closing </label>
                    <input type="text" id="expectedClosing" />
                </p>
                <p>
                    <label for="priority">Priority </label>
                    <select id="priority">
                        <option selected="selected" value="0">Select...</option>
                        <% priorityCollection.each(function(option){ %>

                        <option value="<%= option.get('priority') %>"><%= option.get('priority')%></option>
                        <% }); %>

                    </select>
                </p>
                <p>
                    <label for="categories">Categories</label>
                </p>
            </div>
            <div id="tabs">
                <div>
                    <ul id="tabList" class="inner">
                        <li>
                            <a href="#" class="selected">Internal Notes</a>
                        </li>
                        <li>
                            <a href="#">Lead</a>
                        </li>
                    </ul>
                </div>
                <br />
                <div class="tab">
                    <p>
                        <label for="internalNotes">Internal Notes</label>
                        <textarea id="internalNotes"></textarea>
                    </p>
                    <div class="clearfix"></div>
                </div>
                <div class="tab">
                    <div class="half-block left">
                        <div class="half-block left">
                            <p>
                                <label for="company">Company Name</label>
                            </p>
                            <p>
                                <label for="address">Address</label>
                            </p>
                            <p>
                                <label></label>
                            </p>
                            <p>
                                <label></label>
                            </p>
                            <p>
                                <label></label>
                            </p>
                            <p>
                                <label></label>
                            </p>
                            <h3>Mailings</h3>
                            <p>
                                <label>Opt-Out</label>
                            </p>
                        </div>
                        <div class="half-block left">

                            <p>
                                <input type="text" id="company" disabled />
                            </p>
                            <p>
                                <p>
                                    <input type="text" class="address" id="street" name="street" placeholder="Street" /></p>
                                <p>
                                    <input type="text" class="address" id="city" name="city" placeholder="City" /></p>
                                <p>
                                    <input type="text" class="address" id="state" name="state" placeholder="State" /></p>
                                <p>
                                    <input type="text" class="address" id="zip" name="zip" placeholder="ZIP" /></p>
                                <p>
                                    <input type="text" class="address" id="country" name="country" placeholder="Country" /></p>
                            </p>
                            <p></p>
                            <p>
                                <input type="checkbox" id="optout" />
                            </p>
                        </div>
                    </div>
                    <div class="half-block left">
                        <div class="half-block left">
                            <p>
                                <label for="contactName">Contact Name</label>
                            </p>
                            <p>
                                <label></label>
                            </p>
                            <p>
                                <label for="func">Function</label>
                            </p>
                            <p>
                                <label for="mobile">Mobile </label>
                            </p>
                            <p>
                                <label for="name">Fax</label>
                            </p>
                            <p></p>
                        </div>
                        <div class="half-block left">
                            <p>
                                <input type="text" class="name" id="first" placeholder="First" disabled />
                                <input type="text" class="name" id="last" placeholder="Last" disabled />
                            </p>
                            <p>
                                <input type="text" id="func" />
                            </p>
                            <p>
                                <input type="text" id="mobile" />
                            </p>
                            <p>
                                <input type="text" id="fax" />
                            </p>
                            <p></p>
                        </div>
                    </div>
                    <div class="half-block left">
                        <h3>Misc</h3>
                        <div class="half-block left">
                            <p>
                                <label>Active</label>
                            </p>
                            <p>
                                <label>Referred By</label>
                            </p>
                        </div>
                        <div class="half-block left">
                            <p>
                                <input type="checkbox" checked="checked" id="active" />
                            </p>
                            <p>
                                <input type="text" id="reffered" />
                            </p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </fieldset>
    </form>
</div>
