<div class="form-holder">
  <form method="post" action="" id="leadForm" class="form" data-id="<%=model._id%>">
    <div class="inner">
      <div class="half-block left">
		<dl class="opp-info">
		  <dt><label for="name">Subject </label></dt><dd><input type="text" class="title-input blueback" id="name" value="<%=model.name%>" required maxlength="32"/></dd>
		  <dt><label for="expectedRevenue">Expected Revenue</label></dt><dd><input type="text" id="expectedRevenueValue" value="<%=(model.expectedRevenue) ? model.expectedRevenue.value : ''%>" maxlength="32"/><%=model.expectedRevenue.currency%>at</dd>
		  <dt>&nbsp;</dt><dd><input type="text" id="expectedRevenueProgress" value="<%=model.expectedRevenue.progress%>" maxlength="32"/>%</dd>
		  <dt><label for="customerDd">Customer</label></dt><dd><select id="customerDd"></select></dd>
		  <dt><label for="email">Email </label></dt><dd><input type="email" id="email" value="<%=model.email%>" maxlength="32"/></dd>
		  <dt><label for="phone">Phone </label></dt><dd><input type="text" id="phone" value="<%=model.phones.phone%>" maxlength="32"/></dd>
		</dl>
	  </div>
      <div class="half-block left">
		<dl class="opp-info">
		  <dt><label for="workflowNamesDd">Workflow Names </label></dt><dd><select id="workflowNamesDd"></select></dd>
		  <dt><label for="workflowDd"> Workflows </label></dt><dd><select id="workflowDd"></select></dd>
		  <dt><label for="salesPersonDd">Salesperson</label></dt><dd><select id="salesPersonDd"></select></dd>
		  <dt><label for="salesTeamDd">Sales Team</label></dt><dd><select id="salesTeamDd"></select></dd>
		  <dt><label for="nextAction">Next Action </label></dt><dd><input type="text" id="nextActionDate" value="<%=model.nextAction.date%>" maxlength="32"/></dd>
		  <dt>&nbsp;</dt><dd><input type="text" id="nextActionDescription" value="<%=model.nextAction.desc%>" /></dd>
		  <dt><label for="expectedClosing">Expected Closing </label></dt><dd><input type="text" id="expectedClosing" value="<%=model.expectedClosing%>" maxlength="32"/></dd>
		  <dt><label for="priority">Priority </label></dt><dd><select id="priorityDd"></select></dd>
		  <dt></dt><dd></dd>
		  <dt></dt><dd></dd>

		</dl>
	  </div>
	  <div class="clearfix"></div>
	  <div class="half-block left withPaddingLeft">
		<div class="formTitle">
		  <h3 class="left">Lead</h3>
		  <div class="clearfix"></div>
		</div>
		<dl class="opp-info">
		  <dt><label for="company">Company Name</label></dt><dd><input type="text" id="company" value="<%=model.company%>" disabled maxlength="32"/></dd>
		  <dt><label for="address">Address</label></dt><dd><input type="text" id="street" class="address" name="street" value="<%=model.address.street%>" maxlength="32"/></dd>
		  <dt>&nbsp;</dt><dd><input type="text" id="city" class="address" name="city" value="<%=model.address.city%>" maxlength="32"/></dd>
		  <dt>&nbsp;</dt><dd><input type="text" id="state" class="address" name="state" value="<%=model.address.state%>" maxlength="32"/></dd>
		  <dt>&nbsp;</dt><dd><input type="text" id="zip" class="address" name="zip" value="<%=model.address.zip%>" maxlength="32"/></dd>
		  <dt>&nbsp;</dt><dd><input type="text" id="country" class="address" name="country" value="<%=model.address.country%>" maxlength="32"/></dd>
		</dl>
	  </div>
	  <div class="half-block left withPaddingLeft">
		<div class="formTitle">
		  <h3 class="left">Internal Notes</h3>
		  <div class="clearfix"></div>
		</div>
        <textarea id="internalNotes"><%=model.internalNotes%></textarea>
	  </div>
	  <div class="clearfix"></div>
      <div class="half-block left withPaddingLeft">
		<div class="formTitle">
		  <h3 class="left">Mailings</h3>
		  <div class="clearfix"></div>
		</div>
		<dl class="opp-info">
		  <dt><label>Opt-Out :</label></dt><dd><input type="checkbox" id="optout" <%= (model.optout)? 'checked="checked"':''%>  /></dd>
		  <dt><label for="contactName">Contact Name :</label></dt><dd><input type="text" class="name" id="first" value="<%=model.contactName.first%>" disabled maxlength="32"/></dd>
		  <dt>&nbsp;</dt><dd><input type="text" class="name" id="last" value="<%=model.contactName.last%>" disabled maxlength="32"/></dd>
		  <dt><label for="func">Function :</label></dt><dd><input type="text" id="func" value="<%=model.func%>" maxlength="32"/></dd>
		  <dt><label for="mobile">Mobile :</label></dt><dd><input type="text" id="mobile" value="<%=model.phones.mobile%>" maxlength="32"/></dd>
		  <dt><label for="name">Fax :</label></dt><dd><input type="text" id="fax" value="<%=model.phones.fax%>" maxlength="32"/></dd>

		</dl>
	  </div>
	  <div class="half-block left withPaddingLeft">
		<div class="formTitle">
		  <h3 class="left">Misc</h3>
		  <div class="clearfix"></div>
		</div>
		<dl class="opp-info">
		  <dt><label>Active :</label></dt><dd><input type="checkbox" id="active" <%= (model.active)? 'checked="checked"':''%>  /></dd>
		  <dt><label>Referred By :</label></dt><dd><input type="text" id="reffered" value="<%=model.reffered%>" maxlength="32"/></dd>

		</dl>
	  </div>

	</div>
    <div class="clearfix"></div>
  </form>
</div>
