<div class="form-holder">

    <form method="post" action="" id="createUserForm" class="form">
        <fieldset>
            <div class="inner">
                <div class="avatar">
                    <div class="upload">
                        <input type="file" value="Edit" id="inputImg" accept="image/*" /></div>
                    <canvas id="avatar" width="120" height="120"></canvas>
                </div>
                <div style="margin-left:130px;">
                    <div class="half-block left">
                        <div class="half-block left">
                            <p>
                                <label for="login">User Name</label></p>
                            <p>
                                <label for="password">Password </label>
                            </p>
                            <p>
                                <label for="confirmpassword">Confirm Password</label></p>
                        </div>
                        <div class="half-block left">
                            <p>
                                <input type="text" name="login" id="login" value="" required maxlength="64"/></p>
                            <p>
                                <input type="password" name="password" id="password" value="" required /></p>
                            <p>
                                <input type="password" name="confirmpassword" id="confirmpassword" required /></p>
                        </div>
                    </div>
                    <div class="half-block left">
                        <div class="half-block left">
                            <p>
                                <label for="email">Email </label>
                            </p>
                            <p>
                                <label for="companiesDd">Company</label></p>
                            <p>
                                <label for="profilesDd">Profile</label></p>
                        </div>
                        <div class="half-block left">
                            <p>
                                <input type="text" name="email" id="email" value="" required /></p>
                            <p>
                                <select id="companiesDd">

                                </select>
                            </p>
                            <p>
                                <select id="profilesDd">

                                </select>
                            </p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </fieldset>
    </form>
</div>
