<div class="form-holder">

    <form method="post" action="" id="createUserForm" class="form">
        <fieldset>
            <div class="avatar">
                <input type="file" value="Edit" id="inputImg" accept="image/*">
                <canvas id="avatar" width="120" height="120"></canvas>
            </div>
            <p>
                <label for="login">User Name</label>
                <input type="text" name="login" id="login" value="<%= model.login %>" required />
            </p>

            <!--<p>
                <label for="password">Password </label>
                <input type="password" name="password" id="password" value="<%= model.pass %>" required />
            </p>
            <p>
                <label for="confirmpassword">Confirm Password</label>
                <input type="password" name="confirmpassword" id="confirmpassword" required />
            </p>-->

            <p>
                <label for="email">Email </label>
                <input type="text" name="email" id="email" value="<%= model.email %>" required />
            </p>
            <p>
                <label for="companiesDd">Company</label>
                <select id="companiesDd">k
                    <option value="" selected="selected" disabled>Select...</option>
                    <% companiesCollection.each(function(option){ %>
                        <option value="<%= option.id %>" <%= (option.get('_id') == model.profile.company.id) ? 'selected="selected"' : ''%> > <%= option.get('name') %></option>
                    <% }); %>
                </select>
            </p><br/>
            <p>
                <label for="profilesDd">Profile</label>
                <select id="profilesDd">
                    <option value="" selected="selected" disabled>Select...</option>
                    <% profilesCollection.each(function(option){ %>
                    <option value="<%= option.id %>" <%= (option.get('_id') == model.profile.profile.id) ? 'selected="selected"' : ''%> ><%= option.get('profileName')%></option>
                    <% }) %>
                </select>
            </p>
        </fieldset>

    </form>
</div>
