<div class="form-holder">

  <form method="post" action="" id="createUserForm" class="form">
    <div class="half-block left">
      <div class="avatar">
        <div class="upload"><input type="file" value="Edit" id="inputImg" accept="image/*"></div>
        <canvas id="avatar" width="120" height="120"></canvas>
      </div>

	</div>
	<div class="half-block left">
	  <dl class="person-info">
		<dt><label for="login">User Name</label></dt><dd><input type="text" name="login" id="login" value="<%=login %>" required maxlength="32"/></dd>
		<dt><label for="email">Email </label></dt><dd><input type="text" name="email" id="email" value="<%= email %>" required maxlength="48"/></dd>
		<dt><label for="profilesDd">Profile</label></dt><dd><select id="profilesDd"></select></dd>
	  </dl>
	</div>
    <div class="clearfix">
    </div>
  </form>
</div>
