<div class="inner">
    <div class="dropDown">
        <a href="#">
            <img hidden="hidden" src="./images/downCircleBlack.png" alt="Down" />
        </a>
        <ul class="dropDownOpened" hidden="hidden">
            <li>
                <a href="#" id="edit">Edit...</a>
            </li>
            <li>
                <a href="#" id="delete">Delete</a>
            </li>           
        </ul>
    </div>
    <div class="avatar">
    <img src="<%=imageSrc%>" />
</div>
    <div class="info">
        <p><%=(name.first.length>18)?(name.first.substring(0,18)+"..."):name.first%> <%=(name.last.length>18)?(name.last.substring(0,18)+"..."):name.last%></p>
        <p><%=(company) ? company.name.first : ''%></p>
        <p><%=email%></p>
    </div>
</div>
