<div class="inner">
    <div class="dropDown">
        <a href="javascript;">
            <a class = "gotoForm" href="javascript;"></a>
        </a>
    </div>
    <div class="avatar" style="line-height: 140px;>
    	<a class = "gotoForm" href="javascript;" title="<%=name.first%> <%=name.last%>"> <img src="<%=imageSrc%>" /></a>
	</div>
    <div class="info">
	  <div>
        <a class = "gotoForm title" href="javascript;" title="<%=name.first%> <%=name.last%>"><span><%=name.first%> <%=name.last%></span></a></div>
	  
      <% if (company){%><div><a class="company" title="<%=company.name.first%>" data-id="<%=company._id%>" href="javascript;"><%=company.name.first%></a></div><%}%>
      <div><a href="mailto:<%=email%>" target="_blank" title="<%=email%>"><%=email%></a></div>
    </div>
</div>
