<div class="form-holder">
    <div class="formLeftColumn">
        <form class="form notDialog" id="createEmployeeForm" data-id="<%=_id%>">
            <div class="formTitle withMargin">
                <h3 class="left">Details</h3>
                <!--<div class="btnHolder">
                    <div class="icon-img add left" title="Create Person"></div>
                    <div class="icon-img edit left" title="Edit Person"></div>
                    <div class="icon-img remove left" title="Remove Person"></div>
                </div>-->
                <div class="clearfix"></div>
            </div>
            <div class="inner overflovHidden">
                <div class="avatar-wrapper left">
                    <div class="avatar">
                        <img alt="" src="<%=imageSrc%>" />
                    </div>
                    <div class="social">
                        <% if (social.FB){%><a class="facebook" href="<%=social.FB%>"></a><%}%>
                        <% if (social.LI){%><a class="linkedin" href="<%=social.LI%>"></a><%}%>
                        <% if (skype){%><a class="skype" href="<%=skype%>"></a><%}%>

                        <div class="clearfix"></div>
                    </div>

                </div>
                <div class="mainInfo">
                    <div class="half-block left">
                        <h3>
                            <span title='<%=name.first%>'><%=name.first%></span><span title='<%=name.last%>'><%=name.last%></span>  <% if (company){%>at <a class="bold company" title="<%=company.name.first%>" data-id="<%=company._id%>" href="#"><%=company.name.first%></a><%}%>
                        </h3>
                        <dl class="person-info">
                            <dt>Position :</dt>
                            <dd id="jobPosition" class="editable"><%=jobPosition%></dd>
                            <dt>Birthday :</dt>
                            <dd id="dateBirth" class="editable date"><%=dateBirth%></dd>
                            <dt>Email</dt>
                            <dd id="email" class="editable"><a href="mailto:<%=email%>"><%=email%></a></dd>
                            <dt>Mobile :</dt>
                            <dd id="phones_mobile" class="editable"><%=phones.mobile%></dd>
                            <dt>Phone :</dt>
                            <dd id="phones_phone" class="editable"><%=phones.phone%></dd>
                            <dt>Created By :</dt>
                            <dd><%=createdBy.user ?  createdBy.user.login + " (" + createdBy.date +  ")" : " "%></dd>
                            <dt>Edited By :</dt>
                            <dd><%=editedBy.user ?  editedBy.user.login + " (" + editedBy.date +  ")" : " "%></dd>
                        </dl>
                    </div>
                    <div class="half-block left">
                        <h3></h3>
                        <dl class="person-info">
                            <dt>Street :</dt>
                            <dd id="address_street" class="editable"> <%=address.street%></dd>

                            <dt>City :</dt>
                            <dd id="address_city" class="editable"><%=address.city%></dd>

                            <dt>State :</dt>
                            <dd id="address_state" class="editable"><%=address.state%></dd>

                            <dt>Zip :</dt>
                            <dd id="address_zip" class="editable"> <%=address.zip%></dd>

                            <dt>Country :</dt>
                            <dd id="address_country" class="editable"><%=address.country%></dd>
                        </dl>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="details right">...</div>


                <div class="clearfix"></div>
                <div id="details" class="person-details">
                    <div class="half-block left">
                        <dl class="person-info">
                            <dt>Website: </dt>
                            <dd id="website" class="editable"<%=website%></dd>
                            <dt>Skype :</dt>
                            <dd id="skype" class="editable"<%=skype%></dd>
                            <dt>Fax :</dt>
                            <dd id="phones_fax" class="editable"<%=phones.fax%></dd>
                            <dt>Title :</dt>
                            <dd id="title" class="editable"<%=title%></dd>
                        </dl>
                    </div>
                    <div class="half-block left">
                        <div class="sale-purchase">
                            <span>Sales & Purchases</span>
                            <dl class="person-info">
                                <dt>Customer :</dt>
                                <dd id="salesPurchases_isCustomer" class="with-checkbox editable">
                                    <input class="left" type="checkbox" disabled <%=((salesPurchases.isCustomer)? 'checked' : '') %>/>
                                </dd>
                                <dt>Supplier :</dt>
                                <dd id="salesPurchases_isSupplier" class="with-checkbox editable">
                                    <input class="left" type="checkbox" disabled <%=((salesPurchases.isSupplier)? 'checked' : '') %>/>
                                </dd>
                                <dt>Active :</dt>
                                <dd id="salesPurchases_active" class="with-checkbox editable">
                                    <input class="left" type="checkbox" disabled <%=((salesPurchases.active)? 'checked' : '') %>" />
                                </dd>
                            </dl>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </form>
    </div>
    <div class="formRightColumn">
    </div>

    <div class="clearfix"></div>

</div>
