
<div class="form-holder">

    <form method="post" action="" id="createApplicationForm" class="form" data-id="<%=_id%>">
        <fieldset>
            <div class="avatar">
                <input type="file" value="Edit" id="inputImg" accept="image/*">
                <canvas id="avatar" width="120" height="120"></canvas>
            </div>
            <p>
                <label for="subject">Subject </label>
                <input type="text" class="title-input blueback" id="subject" value="<%=subject%>" required />
            </p>

            <p>
                <label for="first">First Name</label>
                <input type="text" class="title-input name" id="first" value="<%=name.first%>" />
                <label for="last">Last Name</label>
                <input type="text" class="title-input name" id="last" value="<%=name.last%>" />
            </p>

            <p>
                <label for="wemail">Email </label>
                <input type="email" id="wemail" value="<%=workEmail%>"/>
            </p>

            <p>
                <label for="phone">Phone </label>
                <input type="text" id="phone" value="<%=workPhones.phone%>"/>
            </p>

            <p>
                <label for="mobile">Mobile </label>
                <input type="text" id="mobile" value="<%=workPhones.mobile%>"/>
            </p>
            
            <p>
                <label for="workflowNamesDd">Workflow Names </label>
                <select id="workflowNamesDd">

                </select>
            </p> 
            <p id="workflowsDd">
                           
            </p>

            <p>
                <label for="degreesDd">Degree </label>
                <select id="degreesDd">

                </select>
            </p>

            <p>
                <label for="relatedUsersDd">Responsible </label>
                <select id="relatedUsersDd">

                </select>
            </p>

            <p>
                <label for="nextAction">Next Action </label>
                <input type="text" id="nextAction" value="<%=nextAction%>"/>
            </p>

             <p>
                <label for="sourceDd">Source </label>
                <select id="sourceDd">
                    <option>Select...</option>
                </select>
            </p>

            <p>
                <label for="referredBy">Referred By </label>
                <input type="text" id="referredBy" value="<%=referredBy%>"/>
            </p>

            <h2>Job</h2>
            <p>
                <label for="jobPositionDd">Applied Job </label>
                <select id="jobPositionDd">

                </select>
            </p>

            <p>
                <label for="departmentDd">Department</label>
                <select id="departmentDd">

                </select>
            </p>

            <h2>Contract</h2>

            <p>
                <label for="expectedSalary">Expected Salary </label>
                <input type="text" id="expectedSalary" value="<%=expectedSalary%>"/>
            </p>

            <p>
                <label for="proposedSalary">Proposed Salary </label>
                <input type="text" id="proposedSalary" value="<%=proposedSalary%>"/>
            </p>

            <p>
                <label for="tags">Tags </label>
                <input type="text" id="tags" value="<%=tags%>"/>
            </p>

            <h2>Application Summary</h2>
            <p>
                <textarea id="otherInfo"><%=otherInfo%></textarea>
            </p>
        </fieldset>
    </form>
</div>
