<h3><%=contentType%></h3>
<div id="createBtnHolder">
    <a href="#home/action-<%=contentType%>/Create" class="btn red"  id="top-bar-createBtn">Create</a>
    <a href="#home/action-<%=contentType%>/Edit" class="btn"  id="top-bar-editBtn">Edit</a>
    <a href="#" class="btn"  id="top-bar-deleteBtn">Delete</a>
</div>
<div id="saveDiscardHolder">
    <button id="top-bar-saveBtn" >Save</button> or <button id="top-bar-discardBtn">Discard</button>
</div>

<div id="template-switcher" class="right">
    <span id="threeButtons"><%=itemIndex%>/<%=collectionLength%></span>
    <ul class="btn-list changeContentIndex">
        <li><a href="#" class="icon2 icon-btn dark" data-shift="left" id="leftBtn">(</a></li>
        <li><a href="#" class="icon2 icon-btn dark" data-shift="right" id="rightBtn">)</a></li>
    </ul>
    <ul class="btn-list">
        <li><a href="#" class="changeContentView icon3 icon-btn dark <%= (viewType == 'kanban') ? 'selected' : ''%>" data-view-type="kanban" id="kanbanBtn">&reg;</a></li>
        <li><a href="#" class="changeContentView icon icon-btn dark <%= (viewType == 'list') ? 'selected' : ''%>" data-view-type="list" id="listBtn">i</a></li>
        <li><a href="#" class="changeContentView icon icon-btn dark <%= (viewType == 'form') ? 'selected' : ''%>" data-view-type="form" id="formBtn">m</a></li>
    </ul>
</div>