/*Optimize Fonts to Remove */

@font-face {
    font-family: 'Segoe UI';
    src: url("../font/segoeui.woff") format('woff');
}

@font-face {
    font-family: 'Title';
    src: url("../font/title.woff") format('woff');
}

@font-face {
    font-family: 'Metrize-Icons';
    src: url("../font/Metrize-Icons.ttf") format('truetype');
}

@font-face {
    font-family: 'Icons';
    src: url("../font/entypo-webfont.ttf") format('truetype');
}

@font-face {
    font-family: 'Icons2';
    src: url("../font/mnmliconsv21-webfont.ttf") format('truetype');
}

@font-face {
    font-family: 'Icons3';
    src: url("../font/zurmogamificationsymblyregular-regular-webfont.woff") format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(../font/Open-Sans-Light.woff) format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(../font/Open-Sans.woff) format('woff');
}

/*------------------------Constants-----------------------------*/
@imagesfolder: '../images';
@body-font: "Segoe UI", sans-serif;
@lucida-font: "Lucida Grande", Helvetica, Verdana, Arial, sans-serif;
@icon-font: Icons;
@icon2-font: Icons2;
@icon3-font: Icons3;
@title-font: Title;
@metroicon-font: "Metrize-Icons";
@blue: #4d5a75;
@lightmagenta: #7c7bad;
@lightgrey: #c8c8d3;
@lightblue: #008bbf;
@dark-blue: #444f67;
@bold-border: 3px solid;
@thin-border: 1px solid;
@taskBorderColor: #4d5a75;
@tabColor: #BDC3C7;
@birthdayColor: #555;

/*------------------------Functions-----------------------------*/
.border-radius(@radius: 4px) {
    -moz-border-radius: @radius;
    -webkit-border-radius: @radius;
    border-radius: @radius;
}

.box-shadow (@x: 0, @y: 4px, @blur: 20px, @color: rgba(0, 0, 0, 0.15)) {
    box-shadow: @arguments;
    -moz-box-shadow: @arguments;
    -webkit-box-shadow: @arguments;
}

.margin(@margin: 5px) {
    margin: @margin;
}


.mainmenu(@defaultColor: #333,@activeColor: #36a9e1, @height: 30px) {
    display: block;
    float: none;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    height: @height;
    .noPaddingMargin;
    border-bottom: @thin-border #4D5A75;

    nav {
        .pull-left;
        background: #4D5A75;

        ul {
            .noPaddingMargin;
            display: block;
            height: @height;

            li {
                height: @height;
                width: 100px;
                text-align: center;
                color: #fff;
                line-height: @height;
                overflow: hidden;
                .pull-left;
                position: relative;
                cursor: pointer;

                a {
                    font-size: 14px;
                    font-size: 0.75rem;
                    letter-spacing: 1.5px;
                    color: #fff;
                    font-size: 14px;
                    font-size: 0.75rem;
                    text-decoration: none;
                    display: block;
                    .fullsize;
                    line-height: @height - 2px;
                    font-weight: 400;
                    text-transform: uppercase;

                    &:hover {
                        text-decoration: underline;
                    }
                }

                &.hover {
                    height: @height;

                    a {
                        text-decoration: underline;
                        display: block;
                    }
                }

                &.selected {
                    background-color: @activeColor;
                    height: @height;
                    border: 0;
                    -webkit-transition: all ease .5s;
                    -moz-transition: all ease .5s;
                    transition: all ease .5s;

                    a {
                        font-size: 14px;
                        font-size: 0.75rem;
                        color: #fff;
                        text-decoration: none;
                        display: block;
                        letter-spacing: 1.5px;
                    }
                }
            }
        }
    }
}

.submenu(@defaultColor: #FFF,@activeColor: #FFF, @height: 30px, @bg: #4D5A75) {
    display: block;
    position: relative;
    height: @height;
    width: auto;


    nav {
        height: @height;

        ul {
            height: @height;


            li {
                list-style: none;
                width: auto;
                font-size: 14px;
                color: @bg;
                line-height: @height;
                float: left;
                display: block;
                width: 100px;
                height: @height;
                text-align: center;
                background: @defaultColor;


                &.hover {
                    height: @height;
                    line-height: @height;

                    a {
                        color: @bg;
                        text-decoration: underline;
                    }
                }

                a {
                    font-family: 'Lato',Helvetica,Arial,sans-serif;
                    color: @bg;
                    font-size: 12px;
                    line-height: @height;
                    display: block;
                    .fullsize;
                }

                &.selected {
                    position: relative;
                    height: @height;
                    line-height: @height;

                    a {
                        line-height: @height;
                        height: @height;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

/*-----------------------------Styles--------------------------------*/
.pull-left {
    float: left;
}

.pull-right {
    float: left;
}

.noPaddingMargin {
    padding:0;
    margin:0;
}

.fullsize {
    width: 100%;
    height: 100%;
}

#Persons {
    .list-holder {
    }

    .thumbnail-holder {
    }

    .form-holder {
    }
}