<div class="formHeader">
    <ul class="breadcrumb">
    </ul>
</div>
<div class="form-holder">
    <form class="form" data-id="<%=_id%>">
        <h2><%=projectname%></h2>
        <div class="half-block left">
        	<div class="half-block left">
	        	<p><label for="projectmanager">Project Manager</label></p>
	        	<p><label for="workflow">Workflow Status</label></p>
	        	<p><label for="privacy">Privacy / Visibility </label></p>
	        </div>
        	<div class="half-block left">
	        	<p><%=projectmanager.uname%></p>
		        <p><%=workflow.name%></p>
		        <p><%=privacy%> </p>
			</div>
     	</div>
    </form>
</div>
