<div class="form-holder">
  <div class="formLeftColumn full-width">
    <form class="form" data-id="<%=_id%>">
      <div class="formTitle">
        <h3 class="left"><%=projectName%></h3>
		<div class="clearfix"></div>

      </div>
        <div class="inner">
            <div class="half-block left">
			  <dl class="project-info">
                <dt>Project Description </dt><dd><%=projectShortDesc%></dd>
                <dt>Project Manager </dt><dd><%=(projectmanager) ? projectmanager.name.first + " " + projectmanager.name.last : ''%></dd>
                <dt>Customer </dt><dd><%=(customer) ? customer.name.first + " " + customer.name.last : ''%></dd>
                <dt>Privacy / Visibility </dt><dd><%=(privacy) ? privacy : ''%></dd>
			  </dl>
            </div>
            <div class="clearfix"></div>
        </div>
    </form>
  </div>

</div>
