<div class="form-holder">
  <form method="post" action="" id="createTaskForm" class="form notDialog">
      <fieldset>
          <div class="clearfix"></div>
                <dl class="summary-info">
                  <dt><label>Summary </label></dt><dd><input type="text" name="summary" class="input-title blueback" id="summary" required maxlength="32"/></dd>
                </dl>
                <div class="half-block left withPaddingLeft">
                  <div class="inner">
                    <div class="textarea-wrapper">
                      <textarea type="text" class="taskDescriptionCreate" name="description" placeholder="Add a Description..." id="description" required />
                    </div>
                  </div>
                </div>
                <div class="half-block left withPaddingLeft">
                  <div class="inner">

                    <dl class="person-info">

                      <dt><label>Project</label></dt><dd>
						<a id="projectDd" class="current-selected" href="javascript:;"></a>
                      </dd>
                      <dt><label for="workflowNamesDd">Workflow</label></dt><dd>
						<a id="workflowNamesDd" class="current-selected" href="javascript:;"></a>
                      </dd>

                        <dt><label for="workflowsDd">State</label></dt><dd id="selectWorkflow">
						<a id="workflowsDd" class="current-selected" href="javascript:;"></a>
                        </dd>
                        <dt><label for="type">Type </label></dt><dd>
						<a id="type" data-id="Task" class="current-selected" href="javascript:;">Task</a>
						<ul class="newSelectList hidden">
                          <li class="Task" id="Task">Task</li>
                          <li class="Bug" id="Bug">Bug</li>
                          <li class="Feature" id="Feature">Feature</li>
						</ul>
                      </dd>

                        <dt><label>Assigned to</label></dt><dd>
						<a id="assignedToDd" class="current-selected" href="javascript:;"></a>
                      </dd>


                      <dt><label for="deadline">Deadline </label></dt><dd><input class="blueback" type="text" name="deadline" id="deadline" readonly/></dd>

                      <dt><label for="priorityDd">Priority </label></dt><dd>
						<a id="priorityDd" class="current-selected" href="javascript:;"></a>
                      </dd>


                        <dt><label for="StartDate">Start Date </label></dt><dd><input class="extrainfo blueback" type="text" name="StartDate" id="StartDate" value="" readonly /></dd>

                      <dt><label for="logged">Logged </label></dt><dd>
                        <input class="blueback" type="number" min="0" max="1000"  name="loged" id="logged"/>
                      </dd>
                      <dt><label for="estimated">Estimated</label></dt><dd><input class="blueback" type="number" min="0" max="1000" name="estimated" id="estimated"/></dd>
<!--                      <dt><label for="sequence">Sequence </label></dt><dd><input class="extrainfo blueback" type="text" name="sequence" id="sequence" required maxlength="32"/></dd>-->
                     	<div class="clearfix"></div>
                    </dl>

                  </div>
                </div>
                <div class="clearfix"></div>
                                     <label>Attachments</label>

                      <div id="attachBody">
                        <ul class="attachContainer">
                        </ul>
                      </div>
                      <div class="clearfix">
                      </div>
                      <div class="input-file">
                        Attach
                        <input type="file" value="Choose File" class="inputAttach" name="attachfile">

                      </div>
                      <div class="progress" style="float:left;">
                        <div class="bar">
                          <span class="status"></span>
                        </div>
                      </div>
          <div class="clearfix"></div>
      </fieldset>
  </form>

</div>
