<div class="form-holder">
  <form method="post" action="" id="createTaskForm" class="form notDialog">
    <div class="half-block left withPaddingLeft">
      <div class="formTitle">
		<h3 class="left">Description</h3>
		<div class="clearfix"></div>
	  </div>
	  <div class="inner">
        <div class="textarea-wrapper">
		  <textarea type="text" name="description" placeholder="Add a Description..." id="description" required />
		</div>
	  </div>
    </div>
    <div class="half-block left">

      <div class="formTitle">
		<h3 class="left">Extra Info</h3>
		<div class="clearfix"></div>
	  </div>
	  <div class="inner">
		<dl class="person-info">
		  <dt><label>Summary: </label></dt><dd><input type="text" class="title-input blueback" name="summary" id="summary" required /></dd>

		  <dt><label>Project</label></dt><dd>
			<select id="projectDd">
              <option selected="selected" value="0">Select...</option>
              <% projectsDdCollection.each(function(option){ %>
              
              <option value="<%= option.get('_id') %>"<%= (option.get('_id') == projectId) ? 'selected="selected"' : ''%>><%= option.get('projectName') %> </option>
              <% }); %>
              
            </select>
		  </dd>
		  <dt><label for="workflowNames">Workflow Name:</label></dt><dd>
            <select id="workflowNames">
             <% _.each(workflowNames, function(item){ %>
              <option><%= item %></option>
              <% }); %>
            </select>

		  </dd>
            
		    <dt><label for="workflow">Workflow:</label></dt><dd id="selectWorkflow">
		                                                                   
		    </dd>

		    <dt><label>Assigned to :</label></dt><dd>
            <select id="assignedTo" required>
              <option selected="selected" value="0">Select...</option>
              <% accountDdCollection.each(function(option){ %>
              
              <option value="<%= option.get('_id') %>"><%= option.get('name').first %> <%= option.get('name').last %></option>
              <% }); %>
              
            </select>
		  </dd>


		  <dt><label for="deadline">Deadline :</label></dt><dd><input class="blueback" type="text" name="deadline" id="deadline" required /></dd>

		  <dt><label for="priority">Priority :</label></dt><dd>
            <select id="priority">
              <option selected="selected" value="0">Select...</option>
              <% priorityCollection.each(function(option){ %>
              <option value="<%= option.get('priority') %>"><%= option.get('priority') %></option>
              <% }); %>
            </select>
		  </dd>
		    
            <dt><label for="type">Type :</label></dt><dd>
            <select id="type">
                <option selected="selected" value="0">Select...</option>
                <option>Task</option>
                <option>Bug</option>
                <option>Feature</option>
            </select>
		  </dd>

		    <dt><label for="StartDate">Start Date :</label></dt><dd><input class="extrainfo blueback" type="text" name="StartDate" id="StartDate" value="" required /></dd>
		  <dt><label for="EndDate">End Date :</label></dt><dd><input class="extrainfo blueback" type="text" name="EndDate" id="EndDate" value="" required /></dd>

		  <dt><label for="customerDd">Customer :</label></dt><dd>
            <select id="customerDd">
              <option selected="selected" value="0">Select...</option>
              <% customersDdCollection.each(function(option){ %>
              <option value="<%= option.get('_id') %>"><%= option.get('name') %> (<%= option.get('type') %>)</option>
              <% }); %>
            </select>

		  </dd>
		  <dt><label for="logged">Logged :</label></dt><dd>
			<input class="blueback" type="text" name="loged" id="loged" value=""/>
		  </dd>
		  <dt><label for="estimated">Estimeted</label></dt><dd><input class="blueback" type="text" name="loged" id="estimated" value="" /></dd>
		  <dt><label for="sequence">Sequense :</label></dt><dd><input class="extrainfo blueback" type="text" name="sequence" id="sequence" required /></dd>
		   <dt> <label for="tags">Tags :</label></dt><dd><input class="blueback" type="text" name="tags" id="tags" /></dd>
		</dl>	  

      </div>
	</div>
      <div class="clearfix"></div>
  </form>

</div>
