<div class="form-holder">
  <form method="post" action="" id="createTaskForm" class="form notDialog">
      <fieldset>
          <ul class="dialog-tabs">
              <li><a class="active" href="javascript:;">Main</a></li>
              <li><a href="javascript:;">Assignees</a></li>
          </ul>
          <div class="clearfix"></div>
          <div class="dialog-tabs-items">
              <div class="dialog-tabs-item active">
                <dl class="summary-info">
                  <dt><label>Summary </label></dt><dd><input type="text" name="summary" class="input-title blueback" id="summary" required maxlength="32"/></dd>
                </dl>
                <div class="half-block left withPaddingLeft">
                  <div class="inner">
                    <div class="textarea-wrapper">
                      <textarea type="text" name="description" placeholder="Add a Description..." id="description" required />
                    </div>
                  </div>
                </div>
                <div class="half-block left withPaddingLeft">
                  <div class="inner">

                    <dl class="person-info">

                      <dt><label>Project</label></dt><dd>
                        <select id="projectDd">

                        </select>
                      </dd>
                      <dt><label for="workflowNamesDd">Workflow</label></dt><dd>
                        <select id="workflowNamesDd">

                        </select>

                      </dd>

                        <dt><label for="workflowsDd">State</label></dt><dd id="selectWorkflow">
                             <select id="workflowsDd">

                             </select>
                        </dd>
                        <dt><label for="type">Type </label></dt><dd>
                        <select id="type">

                            <option>Task</option>
                            <option>Bug</option>
                            <option>Feature</option>
                        </select>
                      </dd>

                        <dt><label>Assigned to</label></dt><dd>
                        <select id="assignedToDd" required>

                        </select>
                      </dd>


                      <dt><label for="deadline">Deadline </label></dt><dd><input class="blueback" type="text" name="deadline" id="deadline" readonly/></dd>

                      <dt><label for="priorityDd">Priority </label></dt><dd>
                        <select id="priorityDd">

                        </select>
                      </dd>


                        <dt><label for="StartDate">Start Date </label></dt><dd><input class="extrainfo blueback" type="text" name="StartDate" id="StartDate" value="" readonly /></dd>

                      <dt><label for="logged">Logged </label></dt><dd>
                        <input class="blueback" type="number" min="0" max="1000"  name="loged" id="logged"/>
                      </dd>
                      <dt><label for="estimated">Estimated</label></dt><dd><input class="blueback" type="number" min="0" max="1000" name="estimated" id="estimated"/></dd>
                      <dt><label for="sequence">Sequence </label></dt><dd><input class="extrainfo blueback" type="text" name="sequence" id="sequence" required maxlength="32"/></dd>
                    </dl>

                  </div>
                </div>
                <div class="clearfix"></div>
                  <div class="clearfix"></div>
              </div>
              <div class="dialog-tabs-item">
                  <div class="addUserAndGroup"><a href="javascript:;" class="addUser">Manage User</a> | <a href="javascript:;" class="addGroup">Manage Group</a></div>
                  <div class="clearfix"></div>

                  <div class="half-block left">
                      <div class="canReadAndWrite">
                          <input type="radio" name="whoCanRW" value="everyOne" checked="checked"/>Everyone<br>
                          <input type="radio" name="whoCanRW" value="owner"/>Owner<br>
                          <input type="radio" name="whoCanRW" value="group"/>Owner, Users and Users in Groups
                      </div>
                  </div>
                  <div class="half-block left">
                      <dl class="project-owner-info">
                          <dt><label for="allUsers">Owner</label></dt><dd>

                          <select id="allUsers">

                          </select>

                      </dd>
                      </dl>
                  </div>


                  <div class="addUserDialog">

                      <div class="formTitle">
                          <h3 class="left">Choose Users</h3>
                          <div class="clearfix"></div>
                      </div>
                      <div class="groupsChooser">
                          <div class="left">
                              <ul id="sourceUsers" class="source">

                              </ul>
                          </div>
                          <div class="left">
                              <div class="swich"></div>
                          </div>
                          <div class="left">
                              <ul id="targetUsers" class="target">

                              </ul>
                          </div>
                      </div>

                      <div class="clearfix"></div>
                  </div>
                  <div class="addGroupDialog">
                      <div class="formTitle">
                          <h3 class="left">Choose Groups</h3>
                          <div class="clearfix"></div>
                      </div>

                      <div class="groupsChooser">
                          <div class="left">
                              <ul id="sourceGroups" class="source">

                              </ul>
                          </div>
                          <div class="left">
                              <div class="swich"></div>
                          </div>
                          <div class="left">
                              <ul id="targetGroups" class="target">

                              </ul>
                          </div>
                      </div>
                      <div class="clearfix"></div>
                  </div>

                  <table class="groupsAndUser">
                      <tr>
                          <th>Groups and Users</th><th></th>
                      </tr>
                  </table>
                  <div class="clearfix"></div>

                  <div class="clearfix"></div>
              </div>
          </div>
          <div class="clearfix"></div>
      </fieldset>
  </form>

</div>
