<div class="birthday-item">
  <div class="date">
    <div class="inner">
	<h3><%=dateBirth%></h3>
	<h2><%=age%></h2>
    </div>

  </div>
  <div class="info">
	<div class="top-wrapper">

      <div class="top">
		<a><%=model.name.first%> <%=model.name.last%></a>
      </div>
	  <img class="ava" alt="" width="100" src="<%=model.imageSrc%>" />
	  <span class="text"></span>
	  <br/>
	  <a href="#" class="readMore">
		Read more <i></i>                              
      </a>
	</div>
<div class="clearfix"></div>
  </div>
</div>
<div class="clearfix"></div>

