
    <% opportunitiesCollection.forEach(function(opportunity, index){ %>
        <tr data-index="<%= index %>" data-id="<%=opportunity._id%>">
            <td><input type="checkbox" value="<%=opportunity._id%>" class="checkbox" /></td>
            <td><%=index + startNumber + 1 %></td>
            <td><%=opportunity.creationDate%></td>
            <td><%=opportunity.name%></td>
            <td><%=(opportunity.customer) ? opportunity.customer.name.first + ' ' + opportunity.customer.name.last : ''%></td>
            <td><%=opportunity.nextAction.date%></td>
            <td><%=opportunity.nextAction.desc%></td>
            <td><%=(opportunity.workflow) ? opportunity.workflow.name : ''%></td>
            <td><%=opportunity.expectedRevenue.value%></td>
            <td><%=opportunity.expectedRevenue.progress%>%</td>
            <td><%=(opportunity.salesPerson && opportunity.salesPerson.name) ? opportunity.salesPerson.name.first + ' ' + opportunity.salesPerson.name.last : ''%></td>
            <td><%=(opportunity.createdBy.user) ? opportunity.createdBy.date + " (" + opportunity.createdBy.user.login + ")" : ''%></td>
            <td><%=(opportunity.editedBy.user) ? opportunity.editedBy.date + " (" + opportunity.editedBy.user.login + ")" : ''%></td>
        </tr>
    <% }) %>

