<table class="list task-list">
    <thead>
        <tr>
            <th>
                <input type="checkbox" class="checkbox" id="check_all" /></th>
            <th>N</th>
            <th>Creation Date</th>
            <th>Opportunity</th>
            <th>Customer</th>
            <th>Next Action Date</th>
            <th>Next Action</th>
            <th>Stage</th>
            <th>Expected Revenue</th>
            <th>Success Rate(%)</th>
            <th>Salesperson</th>
        </tr>
    </thead>
    <tbody id="listTable"></tbody>
</table>
