<div class="form-holder">
  <form method="post" action="" id="createEmployeeForm" class="form">
	<div class="half-block left">
	  <dl class="person-info">
		<dt><label for="first">First Name</label></dt><dd><input type="text" class="blueback" id="first" required maxlength="32"/></dd>
		<dt><label for="last">Last Name</label></dt><dd><input type="text" class="blueback" id="last" required maxlength="32"/></dd>
		<dt><label for="tags">Tags</label></dt><dd><input type="text" class="blueback" id="tags" maxlength="32"/></dd>
	  </dl>
	</div>
	<div class="half-block left">
      <div class="avatar">
        <div class="upload">Edit<input type="file" value="Edit" id="inputImg"></div>
        <canvas id="avatar" width="120" height="120"><input type="file" value="Edit" id="File1"></canvas>
      </div>
	</div>
    <div class="clearfix"></div>

    <div class="formTitle">
	  <h3 class="left"><legend>Public Information</legend></h3>
	  <div class="clearfix"></div>
	</div>
	<div class="half-block left">
	  <dl class="person-info">
		<dt><label>Working Address</label></dt><dd><input type="text" class="blueback workAddress" name="street" placeholder="Street..." maxlength="32"/></dd>
		<dt>&nbsp;</dt><dd><input type="text" class="blueback workAddress" name="city" placeholder="City" maxlength="32"/></dd>
		<dt>&nbsp;</dt><dd><input type="text" class="blueback workAddress" name="state" placeholder="State" maxlength="32"/></dd>
		<dt>&nbsp;</dt><dd><input type="text" class="blueback workAddress" name="zip" placeholder="ZIP" maxlength="32"/></dd>
		<dt>&nbsp;</dt><dd><input type="text" class="blueback workAddress" name="country" placeholder="Country" maxlength="32"/></dd>
		<dt><label for="workEmail">Work Email :</label></dt><dd><input type="text" id="workEmail" class="blueback" maxlength="48"/></dd>
		<dt><label for="personalEmail">Personal Email :</label></dt><dd><input type="text" id="personalEmail" class="blueback" maxlength="48"/></dd>
		<dt><label for="skype">Skype</label></dt><dd><input type="text" id="skype" class="blueback" maxlength="32"/></dd>
	  </dl>
	</div>
	<div class="half-block left">
	  <dl class="person-info">
		<dt><label for="phone">Work Phone</label></dt><dd><input type="text" id="phone" class="blueback" maxlength="32"/></dd>
		<dt><label for="mobile">Work Mobile :</label></dt><dd><input type="text" id="mobile" class="blueback" maxlength="32"/></dd>
		<dt><label for="officeLocation">Office Location</label></dt><dd><input type="text" name="officeLocation" id="officeLocation" class="blueback" maxlength="32"/></dd>
		<dt><label for="relatedUsersDd">Related User</label></dt>
		<dd>
		  <select id="relatedUsersDd">

          </select>
		</dd>
		<dt><label for="visibilityDd">Visibility</label></dt>
		<dd>
		  <select id="visibilityDd">
            <option selected="selected" value="">Select...</option>
          </select>
		</dd>
		<dt><label for="departmentsDd">Department</label></dt>
		<dd>
		  <select id="departmentsDd">

          </select>
		</dd>
		<dt><label for="jobPositionDd">Job</label></dt>
		<dd>
		  <select id="jobPositionDd">

          </select>
		</dd>
		<dt><label for="projectManagerDD">Manager</label></dt>
		<dd>
		  <select id="projectManagerDD">

          </select>

		</dd>
		<dt><label for="coachDd">Coach</label></dt>
		<dd>
		  <select id="coachDd">

          </select>

		</dd>
	  </dl>
	</div>
    <div class="formTitle">
	  <h3 class="left"><legend>Personal Information</legend></h3>
	  <div class="clearfix"></div>
	</div>
	<div class="half-block left withPaddingLeft">
	  <div class="formTitle">
		<h3 class="left"><legend>Citizenship &amp; Other Info</legend></h3>
		<div class="clearfix"></div>
	  </div>

	  <dl class="person-info">
		<dt><label for="nationality">Nationality</label></dt>
		<dd>
		  <select id="nationality">
            <option selected="selected" value="">Select...</option>
          </select>
		</dd>
		<dt><label for="identNo">Identification №</label></dt><dd><input type="text" name="identNo" id="identNo" class="blueback" maxlength="32"/></dd>
		<dt><label for="passportNo">Passport №</label></dt><dd><input type="text" name="passportNo" id="passportNo" class="blueback" maxlength="32"/></dd>
		<dt><label for="bankAccountNo">Bank Account №</label></dt>
		<dd>
		  <select id="bankAccountNo">
            <option selected="selected" value="">Select...</option>
          </select>
		</dd>
		<dt><label for="otherId">Other Id </label></dt><dd><input type="text" name="otherId" id="otherId" class="blueback" maxlength="32"/></dd>
	  </dl>
      <div class="clearfix"></div>

	  <div class="formTitle">
		<h3 class="left"><legend>Status</legend></h3>
		<div class="clearfix"></div>
	  </div>
	  <dl class="person-info">
		<dt><label for="genresDd">Gender </label></dt>
		<dd>
		  <select id="genresDd">
            <option selected="selected" value="">Select...</option>
          </select>
		</dd>
		<dt><label for="maritalStatus">Marital Status </label></dt>
		<dd>
		  <select id="maritalStatus">
            <option selected="selected" value="">Select...</option>
          </select>

		</dd>
	  </dl>
	</div>
	<div class="half-block left withPaddingLeft">
	  <div class="formTitle">
		<h3 class="left"><legend>Contact Information</legend></h3>
		<div class="clearfix"></div>
	  </div>
	  <dl class="person-info">
		<dt>Home Address </dt><dd><input type="text"  name="street" placeholder="Street..." class="blueback homeAddress" maxlength="32"/></dd>
		<dt>&nbsp;</dt><dd><input type="text" class="blueback homeAddress" name="city" placeholder="City"  maxlength="32"/></dd>
		<dt>&nbsp;</dt><dd><input type="text" class="blueback homeAddress" name="state" placeholder="State" maxlength="32"/></dd>
		<dt>&nbsp;</dt><dd><input type="text" name="zip" placeholder="ZIP" class="blueback homeAddress" maxlength="32"/></dd>
		<dt>&nbsp;</dt><dd><input type="text" name="country" placeholder="Country" class="blueback homeAddress" maxlength="32"/></dd>
	  </dl>
      <div class="clearfix"></div>

	  <div class="formTitle">
		<h3 class="left"><legend>Birth</legend></h3>
		<div class="clearfix"></div>
	  </div>
	  <dl class="person-info">
		<dt><label for="dateBirth">Date of Birth </label></dt><dd><input type="text" name="dateBirth" id="dateBirth" class="blueback" readonly/></dd>
	  </dl>
	</div>
    <div class="clearfix"></div>
    <div class="formTitle">
	  <h3 class="left"><legend>HR Settings</legend></h3>
	  <div class="clearfix"></div>
	</div>
      <dl class="person-info">
          <div class="half-block left">
              <dt><label for="active">Active </label></dt><dd><input type="checkbox" name="active" id="active" /></dd>
          </div>
      </dl>
       <div class="clearfix"></div>
  </form>
</div>
