<div class="form-holder">
    <div class="form" id="createEmployeeForm">
        <h2><%=name%></h2>
        <p>
            <label>Address</label>
            <span><%=address.street%></span>
            <span><%=address.city%></span>
            <span><%=address.state%></span>
            <span><%=address.zip%></span>
            <span><%=address.country%></span>
        </p>
        <p>
            <label>Website</label>
            <span><%=website%></span>
        </p>
        <p>
            <label>Phone </label>
            <span><%=phones.phone%></span>
        </p>
        <p>
            <label>Mobile </label>
            <span><%=phones.mobile%></span>
        </p>
        <p>
            <label>Fax </label>
            <span><%=phones.fax%></span>
        </p>
        <br />
        <div id="tabs">
            <div>
                <ul id="tabList">
                    <li>
                        <a href="#" class="selected">Internal Notes</a></li>
                    <li>
                        <a href="#">Sales & Purchases</a></li>
                    <li>
                        <a href="#">History</a></li>
                </ul>
            </div>

            <div class="tab">
                <p>
                    <textarea><%=internalNotes%></textarea>
                </p>
            </div>

            <div class="tab">
                <p>
                    <label>Sales Person </label>
                    <span><%=salesPurchases.salesPerson.name%></span>
                </p>
                <p>
                    <label>Sales Team </label>
                    <span><%=salesPurchases.salesTeam.name%></span>
                </p>
                <p>
                    <label>Reference </label>
                    <span><%=salesPurchases.reference%></span>
                </p>
                <p>
                    <label>Language </label>
                    <span><%=salesPurchases.language%></span>
                </p>
                <p>
                    <label>Date </label>
                    <span><%=salesPurchases.date%></span>
                </p>
                <p>
                    <label>Customer</label>
                    <input type="checkbox" <%=(salesPurchases.isCustomer)? "checked='checked'":''%> /> </p>
                <p>
                    <label>Supplier</label>
                    <input type="checkbox" <%=(salesPurchases.isSupplier)? "checked='checked'":''%> /> </p>
                <p>
                    <label>Active </label>
                    <input type="checkbox" <%=(salesPurchases.active)? "checked='checked'":''%> />
                </p>
            </div>
            <div class="tab"></div>
        </div>
    </div>
</div>
