<div class="form-holder">
  <div class="formLeftColumn">
    <form class="form notDialog" id="createEmployeeForm" data-id="<%=_id%>">
      <div class="formTitle withMargin">
        <h3 class="left">Details</h3>  
        <div class="btnHolder">
          <div class="icon-img add left" title="Create Companie"></div>
          <div class="icon-img edit left" title="Edit Companie"></div>
          <div class="icon-img remove left" title="Remove Companie"></div>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="inner">
        <div class="avatar-wrapper left">
          <div class="avatar">
			<img alt="" src="<%=imageSrc%>" width="120" height="120" />
          </div>
		  <div class="social">
			<%if (social.FB){%><a class="facebook" href="<%=social.LI%>"></a><%}%>
			<div class="clearfix"></div>
		  </div>

		</div>
        <div class="company-info">
          <h2><%=name.first%></h2>
          <div class="half-block left">
            <dl class="person-info company">
			  <dt>Websitedt><dd id="website" class="editable"><%=website%></dd>
			  <dt>Phone</dt><dd id="phones_phone" class="editable"><%=phones.phone%></dd>
			  <dt>Mobile</dt><dd id="phones_mobile" class="editable"><%=phones.mobile%></dd>
               <dt>Email</dt><dd id="email" class="editable"><%=email%></dd>
              <dt>Created by</dt><dd><%=createdBy.user ?  createdBy.user.login + "<br/> (" + createdBy.date +  ")" : " "%></dd>
              <dt>Edited by</dt><dd><%=editedBy.user ?  editedBy.user.login + " (" + editedBy.date +  ")" : " "%></dd>
            </dl>

         </div>
          <div class="half-block left">
            <dl class="person-info company">
			  <dt>Street</dt>			 
              <dd id="address_street" class="editable" ><%=address.street%></dd>

			  <dt>City</dt>			
              <dd id="address_city" class="editable" ><%=address.city%></dd>

			  <dt>State</dt>		
              <dd id="address_state" class="editable" ><%=address.state%></dd>

			  <dt>Zip</dt>		
              <dd id="address_zip" class="editable"><%=address.zip%></dd>

			  <dt>Country</dt>		
              <dd id="address_country" class="editable"><%=address.country%></dd>		
            </dl>
 
          </div>

          <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
     <div class="details right">...</div>	


      </div>
	  <!--
	  <div class="formTitle">
        <h3 class="left">Internal Notes</h3>
        <div class="clearfix"></div>
	  </div>
      <div class="inner">
        <span><%=internalNotes%></span>
	  </div>
	  -->
     <div id="details">
	  <div class="formTitle">
        <h3 class="left">Sales &amp; Purchases</h3>  
        <div class="clearfix"></div>
	  </div>
      <div class="inner sales-purchases">
        <div class="half-block left">
            <dl class="person-info company long">
			  <dt>Sales Person</dt><dd><%=(salesPurchases.salesPerson) ? salesPurchases.salesPerson.name.first + ' ' + salesPurchases.salesPerson.name.last: ''%></dd>
			  <dt>Sales Team</dt><dd><%=(salesPurchases.salesTeam) ? salesPurchases.salesTeam.departmentName : ''%></dd>
			  <dt>Reference</dt><dd><%=salesPurchases.reference%></dd>
			  <dt>Language</dt><dd><%=salesPurchases.language%></dd>
            </dl>
        </div>
        <div class="half-block left">

            <dl class="person-info company long">
			  <dt>Customer</dt><dd><a class="person-checkbox disabled<% if(salesPurchases.isCustomer) { %> active <% } %>" href="javascript:;"><span class="check"></span>&nbsp;</a></dd>
			  <dt>Supplier</dt><dd><a class="person-checkbox disabled<% if(salesPurchases.isSupplier) { %> active <% } %>" href="javascript:;"><span class="check"></span>&nbsp;</a></dd>
			  <dt>Active </dt><dd><a class="person-checkbox disabled<% if(salesPurchases.active) { %> active <% } %>" href="javascript:;"><span class="check"></span>&nbsp;</a></dd>
            </dl>
        </div>
        <div class="clearfix"></div>

	  </div>
	  <div class="formTitle">
        <h3 class="left">History</h3>  
        <div class="clearfix"></div>
	  </div>
      <div class="inner">
	  </div>
	 </div>
  </div>
  </form>
  <div class="formRightColumn">
  
</div>
</div>

<div class="clearfix"></div>

</div>
