<div class="form-holder">
    <div class="form">
        <p>
            <label><%=name%> </label>
        </p>
        <p>
            <address>Address:
                <%=address.street1%>
                <%=address.street2%>
                <%=address.city%>
                <%=address.state%>
                <%=address.zip%>
                <%=address.country%>
            </address>
        </p>
        <p>
            <label>Website: <%=website%></label>
        </p>
        <p>
            <label>Contacts: <%=contacts%></label>
        </p>
        <p>
            <label>Phone: <%=phones.phone%></label>
        </p>
        <p>
            <label>Mobile: <%=phones.mobile%></label>
        </p>
        <p>
            <label>Fax: <%=phones.fax%></label>
        </p>
        <p>
            <label>InternalNotes: <%=internalNotes%></label>
        </p>

        <div>
            <span>Sales & Purchases</span>
            <p>
                <label>Customer: <input type="checkbox" checked=<%=salesPurchases.isCustomer%> /> </label>
                <label>Supplier: <input type="checkbox" checked=<%=salesPurchases.isSupplier%> /> </label>
                <label>Active: <input type="checkbox" checked=<%=salesPurchases.active%> /> </label>

            </p>
        </div>
    </div>

</div>