<div class="inner">
    <div class="opportunity-header">
        <h3>$<%=model.expectedRevenue.value%></h3>
        <div class="dropDown">
            <a href="#">
                <img hidden="hidden" src="./images/downCircleWhite.png" alt="Down" />
            </a>
            <ul class="dropDownOpened" hidden="hidden">
                <li>
                    <a href="#" id="edit">Edit...</a>
                </li>
                <li>
                    <a href="#" id="delete">Delete</a>
                </li>
                <li>
                    <ul class="colorPicker">
                        <% colors.forEach(function(color, index){ %>
                        <li>
                            <a href="#" data-color="<%=color.dataColor%>" class="<%= color.className %>"></a>
                        </li>
                        <% }) %>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="opportunity-content">
        <p class="bold"><%=model.company.name%></p>
        <p><%=model.customer.name%></p>
        <p><%=model.nextAction.date%>: <%=model.nextAction.desc%></p>
    </div>
</div>