<div class="inner" id="<%=model._id%>" data-id="<%=model._id%>">
    <div class="opportunity-header">
        <h4 class="bold left" style="max-width:56%"><%=model.name%></h4>
        <h3>$<%=(model.expectedRevenue.value).toString().replace(/(\d{1,3})(?=(?:\d{3})+$)/g, '$1 ')%></h3>        
        <!--<div class="dropDown">
            <a href="#">
                <img hidden="hidden" src="./images/downCircleWhite.png" alt="Down" />
            </a>
            <ul class="dropDownOpened" hidden="hidden">
                <li>
                    <a href="#" id="edit">Edit...</a>
                </li>
                <li>
                    <a href="#" id="delete">Delete</a>
                </li>
                <li>
                    <ul class="colorPicker">
                        <% colors.forEach(function(color, index){ %>
                        <li>
                            <a href="#" data-color="<%=color.dataColor%>" class="<%= color.className %>"></a>
                        </li>
                        <% }) %>
                    </ul>
                </li>
            </ul>
        </div>-->
    </div>
    <div class="opportunity-content">
        <div class="half-block left">
            <p class="left"><%=(model.customer) ? model.customer.name.first + ' ' + model.customer.name.last : ''%></p>
        </div>
        <div class="clearfix"></div>
        <div class="half-block right">
         	<p class="left" style="text-align:left;"><%=model.nextAction.desc%> </p>
            <p class="right" style="text-align:right;"> <%=model.nextAction.date%></p>
        </div>
        <div class="clearfix"></div>
    </div>
</div>