<div class="inner">
    <div class="opportunity-header">
        <h4 class="bold left"><%=model.name%></h4>
        <h3>$<%=model.expectedRevenue.value%></h3>        
        <!--<div class="dropDown">
            <a href="#">
                <img hidden="hidden" src="./images/downCircleWhite.png" alt="Down" />
            </a>
            <ul class="dropDownOpened" hidden="hidden">
                <li>
                    <a href="#" id="edit">Edit...</a>
                </li>
                <li>
                    <a href="#" id="delete">Delete</a>
                </li>
                <li>
                    <ul class="colorPicker">
                        <% colors.forEach(function(color, index){ %>
                        <li>
                            <a href="#" data-color="<%=color.dataColor%>" class="<%= color.className %>"></a>
                        </li>
                        <% }) %>
                    </ul>
                </li>
            </ul>
        </div>-->
    </div>
    <div class="opportunity-content">
        <div class="half-block left">
            <p class="left"><%=(model.customer) ? model.customer.name.first + ' ' + model.customer.name.last : ''%></p>
        </div>
        <div class="half-block right">
            <p style="text-align:right;"><%=model.nextAction.desc%> <%=model.nextAction.date%></p>
        </div>
        <div class="clearfix"></div>
    </div>
</div>