<div class="inner">
    <div class="dropDown">
        <a href="#">
            <img hidden="hidden" src="./images/downCircleBlack.png" alt="Down" />
        </a>
        <ul class="dropDownOpened" hidden="hidden">
            <li>
                <a href="#" id="edit">Edit...</a>
            </li>
            <li>
                <a href="#" id="delete">Delete</a>
            </li>            
        </ul>
    </div>
    <div class="avatar">
        <a href="#" class="title gotoForm"><img src="<%=imageSrc%>" /></a>
    </div>
    <div class="info">
        <a href="#" class="title gotoForm"><%=name.first%> <%=name.last%> <% if(relatedUser) { %>
            <span>(<%= relatedUser.login %>)</span>
            <% } else { %>
            <span></span>
            <% } %></a>
        <p><%=(department) ? department.departmentName : ''%> / <%=(jobPosition) ? jobPosition.name : ''%></p>
        <p><label>Age: </label><%=age%>
            <% if(dateBirth) { %>

            <span>(<%= dateBirth.split('T')[0].replace(/-/g, '/') %>)</span>
            <% } else { %>
            <span></span>
            <% } %>
        </p>
        <p><label>Tel: </label><%=workPhones.mobile%></p>
        <p><label>Skype: </label><%=skype%></p>
        <p><a href="mailto:<%=workEmail%>" target="_blank"><%=workEmail%></a></p>            
    </div>
</div>
