<div class="inner">
    <div class="dropDown">
        <a href="#">
            <img hidden="hidden" src="./images/downCircleBlack.png" alt="Down" />
        </a>
        <ul class="dropDownOpened" hidden="hidden">
            <li>
                <a href="#" id="edit">Edit...</a>
            </li>
            <li>
                <a href="#" id="delete">Delete</a>
            </li>            
        </ul>
    </div>
    <div class="avatar" style="line-height: 140px;>
        <a href="#" class="title gotoForm" title="<%=name.first%> <%=name.last%>"><img src="<%=imageSrc%>" /></a>
    </div>
    <div class="info">
	  <div>
        <a class = "gotoForm title" href="#" title="<%=name.first%> <%=name.last%>"><%=name.first%> <%=name.last%> <% if(relatedUser) { %>
            <span>(<%= relatedUser.login %>)</span>
            <% } else { %>
            <span></span>
            <% } %></a>
	  </div>
        <p><%=(jobPosition) ? jobPosition.name : ''%></p>
        <p><label>Age: </label><%=age%>
            <span>(<%= dateBirth %>)</span>
        </p>
        <p><label>Tel: </label><a href="skype:<%=workPhones.mobile%>?call"><%=workPhones.mobile%></a></p>
    </div>
</div>
