<div class="inner">
    <div class="dropDown">
        <a href="#">
            <img hidden="hidden" src="./images/downCircleBlack.png" alt="Down" />
        </a>
        <ul class="dropDownOpened" hidden="hidden">
            <li>
                <a href="#" id="edit">Edit...</a>
            </li>
            <li>
                <a href="#" id="delete">Delete</a>
            </li>            
        </ul>
    </div>
    <div class="avatar">
        <img src="<%=imageSrc%>" />
    </div>
    <div class="info">
        <h4 class="title"><%=name.first%> <%=name.last%> <%=relatedUser.login%></h4>        
        <p><%=department.name%> / <%=jobPosition.name%></p>
        <p><label>Age: </label><%=age%> (<%=dateBirth%>)</p>
        <p><label>Tel: </label><%=workPhones.mobile%></p>    
        <p><label>Skype: </label><%=skype%></p>
        <p><a href="mailto:<%=workEmail%>" target="_blank"><%=workEmail%></a></p>            
    </div>
</div>
